<% provide(:title, 'Register') %>

<div id="preregister">

<section class="categories">
	<div class="w940px">
		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/1.png" alt=""></div>
			<div class="name">Feature One</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>
		
		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/2.png" alt=""></div>
			<div class="name">Feature Two</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>
		
		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/3.png" alt=""></div>
			<div class="name">Feature Three</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>

		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/4.png" alt=""></div>
			<div class="name">Feature Four</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>
		
		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/5.png" alt=""></div>
			<div class="name">Feature Five</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>
		
		<div class="item">
			<div class="name-icon"><img src="/assets/preregister/features/6.png" alt=""></div>
			<div class="name">Feature Six</div>
			<div class="desc">Cras tempus erat sed ipsum dictum suscipit. Vivamus vitae enim dignissim, mattis tortor eu, scelerisque ante quisque sed ex.</div>
		</div>
	</div>
</section>

<section class="money_goes">
	<div class="w940px">
		<div class="desc">
			<h1>Where Your Money Goes</h1>
			<p class="big">
				We don’t just take your money and spend it at the shop
				like most other companies. We work hard to ensure our
				members are getting as much work as possible. Take a
				look below to see where your membership fee goes.
			</p>
		</div>
		<div class="stats">
			<img src="/assets/preregister/pie.png">
			<ul class="right">
				<li><div class="circle c1"></div>Advertising</li>
				<li><div class="circle c2"></div>SEO</li>
				<li><div class="circle c3"></div>Market Research</li>
				<li><div class="circle c4"></div>Entertaina Staff</li>
				<li><div class="circle c5"></div>Business Growth</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</section>

<section class="reviews">
	<div class="w1200px">

		<img id="quote_sign" src="/assets/preregister/quote.png">

		<ul class="slider">
			<li data-thumb="/assets/preregister/reviewer_thumbs/1.jpg">
				<div class="review big">You offer such a friendly service, thank you. I have been so happy with your support. My colleague put me onto you as she too feels that the customer service you offer clients is superior to any other that is out there at the moment. Being new to private practice I truly appreciate the extra support. It is making setting up my business so much easier.</div>
				<div class="name">Eric Hoffman</div>
				<div class="profession">Founder and principal designer for @JellyJar</div>
			</li>
			<li data-thumb="/assets/preregister/reviewer_thumbs/2.jpg">
				<div class="review big">My colleague put me onto you as she too feels that the customer service you offer clients is superior to any other that is out there at the moment. Being new to private practice I truly appreciate the extra support. It is making setting up my business so much easier.</div>
				<div class="name">Justin Mezzell</div>
				<div class="profession">Smash Developer at Code School</div>
			</li>
			<li data-thumb="/assets/preregister/reviewer_thumbs/3.jpg">
				<div class="review big">You offer such a friendly service, thank you. I have been so happy with your support. My colleague put me onto you as she too feels that the customer service you offer clients is superior to any other that is out there at the moment.</div>
				<div class="name">Tim Boelaars</div>
				<div class="profession">Designer & Illustrator based in Amsterdam</div>
			</li>
		</ul>


	</div>
</section>

</div>
