<% provide(:title, 'Register') %>

<div id="preregister">

<section class="categories">

	<div class="w940px">
		<div class="item">
			<img src="/assets/index/popular_categories/1.png" alt="">
			<div class="name">Wedding bands</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/2.png" alt="">
			<div class="name">Jazz bands</div>
			<div class="desc">Whether you want to create a sophisticated atmosphere or get your guests swinging, find a jazz band for hire to suit your event.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/3.png" alt="">
			<div class="name">Function bands</div>
			<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
			Search function bands now!</div>
		</div>
	</div>
	<div class="w940px">
		<div class="item">
			<img src="/assets/index/popular_categories/4.png" alt="">
			<div class="name">DJ’s</div>
			<div class="desc">If you want to hire a DJ or mobile disco for your wedding or party, search the DJ's category to find the perfect party package.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/5.png" alt="">
			<div class="name">Wedding/Party entertainment</div>
			<div class="desc">Keep your guests entertained and wow them with something a little different. Search acts ranging from comedians to fire</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/6.png" alt="">
			<div class="name">Vintage bands</div>
			<div class="desc">Looking for something with a vintage vibe? From 1920s swing to 50s rockabilly, discover vintage bands available for hire.<br>
			Search function bands now!</div>
		</div>
	</div>
</section>

<section class="money_goes">
	<div class="w940px">
		<div class="desc">
			<h1>Where your money goes</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi.
			</p>
		</div>
		<div class="stats">
			<img src="/assets/preregister/stats.png">
			<ul class="right">
				<li><div class="circle c1"></div>Advertising</li>
				<li><div class="circle c2"></div>SEO</li>
				<li><div class="circle c3"></div>Market Research</li>
				<li><div class="circle c4"></div>Entertaina Staff</li>
				<li><div class="circle c5"></div>Business Growth</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</section>

<section class="reviews">
	<div class="w1200px">

		<img id="quote_sign" src="/assets/preregister/quote.png">

		<ul id="lightSlider">
				<li data-thumb="/assets/preregister/reviewer_thumbs/3.png">
					<div class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</div>
					<div class="name">Eric Hoffman</div>
					<div class="profession">Founder of JellyJar</div>
				</li>
				<li data-thumb="/assets/preregister/reviewer_thumbs/3.png">
					<div class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</div>
					<div class="name">Eric Hoffman</div>
					<div class="profession">Founder of JellyJar</div>
				</li>
				<li data-thumb="/assets/preregister/reviewer_thumbs/3.png">
					<div class="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="name">Eric Hoffman</div>
					<div class="profession">Founder of JellyJar</div>
				</li>
		</ul>

<script type="text/javascript">
	$('#lightSlider').lightSlider({
			gallery: true,
			item: 1,
			loop: true,
			slideMargin: 0,
			thumbItem: 3,
			adaptiveHeight: true
	});
</script>











	</div>
</section>






</div>
