<% provide :title, 'Settings' %>

<%= render '/layouts/icons' %>

<div id="settings">
	<div id="free_trial_warning">
		<div class="w940px">
			<a href="#upgrade_form" class="fancy">
				<i class="fa fa-exclamation-triangle"></i>
				During your free trial, your profile is not visible to the public. To share with the rest of the world, <span class="uppercase blue">upgrade your account</span>
			</a><!-- 
			--><div class="right close animation">
				<img src="/assets/common/grey_close.png">
			</div>
		</div>
	</div>

	<section class="activate_view responsive">
		<a href="#" class="flat_button activate">Activate profile</a>
		<a href="#" class="flat_button view">View profile</a>
	</section>

	<!-- structure class lets you structure page with aside and #main_container -->
	<div class="w940px structure">	

		<div id="main_container" class="left">
			<div class="tabs">
				<ul class="nav">
					<li><a href="#profile_tab">Profile</a></li>
					<li><a href="#media_tab">Media</a></li>
					<li><a href="#account_tab">Account</a></li>
					<li><a href="#billing_tab">Billing</a></li>
				</ul>

				<div id="profile_tab">
					<form class="form">

						<div class="line">
							<label for="act_name">Act name<i class="fa fa-asterisk"></i></label>
							<div class="right">
								<input class="input" id="act_name">
								<div class="comment">Your full name, alias or name of squad which will dispayed in profile</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="username">Username<i class="fa fa-asterisk"></i></label>
							<div class="right">
								<input class="input" id="username">
								<div class="comment">Your Entertaina URL: https://entertaina.com/<b id='username_future'></b></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="category">Category<i class="fa fa-asterisk"></i></label>
							<div class="right">
								<select name="" id="category">
									<option value="none">Choose Category</option>
									<option value="bands">Bands & Ensembles</option>
									<option value="solo">Solo Musicians</option>
								</select>
							</div>
							<div class="clear"></div>

							<div class="not_displayed">
								<label for="type1">Type<i class="fa fa-asterisk"></i></label>
								<div class="right">
									<select id="type1">
									</select>
									
								</div>
								<div class="clear"></div>
							</div>


							<div class="not_displayed">
								<label></label>
								<div class="right"> 
									<select id="type2">
									</select>
									
								</div>
								<div class="clear"></div>
							</div>

							<div class="not_displayed">
								<label></label>
								<div class="right"> 
									<select id="type3">
									</select>
									
								</div>
								<div class="clear"></div>
							</div>
							<!-- <div class="right"> -->
								<div class="comment right">Your occupation category and type that will affect on the search result</div>
						</div><br>


						<div class="line">
							<label for="location">Location<i class="fa fa-asterisk"></i></label>
							<div class="right">
								<input class="input" id="location">
								<div class="comment">The area in which you provide services</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="phone">Phone</label>
							<div class="right">
								<input class="input" id="phone">
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="email">Email</label>
							<div class="right">
								<input class="input" id="email">
							</div>
							<div class="clear"></div>
						</div>

						<div class="line website">
							<label for="website">Website</label>
							<div class="right">
								<div id="http"><span style="display: inline-block; padding-top: 19px;">http:/<span style="margin-left: -3px;">/</span></span></div><!--
								--><input class="input" id="website">
								<div class="comment">Public contact details to communicate with you</div>
							</div>
							<div class="clear"></div>
						</div>



						<section id="network_names" class="closable">
							
						</section>


						<section id="network">
							<div class="line">
								<label>Add network</label>
								<div class="right">	
								
									<span id="twitter"><svg viewbox="0 0 32 32"><use xlink:href="#twitter"></svg></span>
									<span id="facebook"><svg viewbox="0 0 32 32"><use xlink:href="#facebook"></svg></span>
									<span id="linkedin"><svg viewbox="0 0 32 32"><use xlink:href="#linkedin"></svg></span>
									<span id="vimeo"><svg viewbox="0 0 32 32"><use xlink:href="#vimeo"></svg></span>
									<span id="flickr"><svg viewbox="0 0 32 32"><use xlink:href="#flickr"></svg></span>
									<span id="youtube"><svg viewbox="0 0 32 32"><use xlink:href="#youtube"></svg></span>
									<span id="pinterest"><svg viewbox="0 0 32 32"><use xlink:href="#pinterest"></svg></span>
									<span id="tumblr"><svg viewbox="0 0 32 32"><use xlink:href="#tumblr"></svg></span>
									<span id="google"><svg viewbox="0 0 32 32"><use xlink:href="#google"></svg></span>
									<span id="instagram"><svg viewbox="0 0 32 32"><use xlink:href="#instagram"></svg></span>
									<span id="vine"><svg viewbox="0 0 32 32"><use xlink:href="#vine"></svg></span>
									
								</div>
								<div class="clear"></div>
							</div>
						</section>

						<div class="line">
							<label for="">Biography<i class="fa fa-asterisk"></i></label>
							<%= render 'layouts/text_editor', comment: 'The area in which you provide services', id: 'biography' %>

							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="example_repertoire">Example reportoire</label>
							<div class="right">
								<textarea id="example_repertoire"></textarea>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="example_repertoire">Recent clients</label>
							<div class="right">
								<textarea id="example_repertoire"></textarea>
								<div class="comment">Lists of 5-10 names. Separate names using ; semicolons</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line price">
							<label for="price">Price from</label><!-- 
							--><div class="right">

								<div id="currency">
									<select id="">
										<option value="">£</option>
										<option value="">€</option>
										<option value="">$</option>
									</select>
								</div>

								<input class="input" id="price">
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="">Pricing options<i class="fa fa-asterisk"></i></label>
							<%= render 'layouts/text_editor', comment: 'Detailed description of your price options. Take this section carefully.', id: 'pricing_options' %>

							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="">Technical specs<i class="fa fa-asterisk"></i></label>
							<%= render 'layouts/text_editor', comment: 'Detailed description of your technical specifications. Take this section carefully.', id: 'technical_specs' %>

							<div class="clear"></div>
						</div>

						<div class="right">
							<a class="flat_button uppercase">Update</a>
						</div>
						<div class="clear"></div>
					</form>
				</div>

				<div id="media_tab">
					<form class="form">

						<div class="line cover">
							<label for="account_email">Cover</label>
							<div class="right">

								<div class="upload animation">
									<i class="fa fa-cloud-upload"></i>
									<div class="grey_fat">Upload your cover</div>
									<div class="grey_thin">Jpg, Gif, Png, Min width 1000px</div>
									<div class="small_fat_blue uppercase">Drag or browse</div>
								</div>

								<div class="comment">Image which is used as main profile picture and a profile cover</div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line photos">
							<label>Photos</label>
							<div class="right">

								<% 4.times do |i| %>
									<div class="uploaded animation">
										<img src="/assets/profile/photo_thumbs/1_large.jpg">
									</div>
								<% end %>

								<div class="uploading animation">
									<img src="/assets/common/ajax-loader.gif">
									<div class="grey_fat">Uploading</div>
								</div>

								<div class="upload animation">
									<i class="fa fa-cloud-upload"></i>
									<div class="grey_fat">Upload Images</div>
									<div class="grey_thin">Jpg, Gif, Png</div>
									<div class="small_fat_blue uppercase">Drag or browse</div>
								</div>

							</div>
							<div class="clear"></div>
						</div>

						<div class="line audios" id="audios">
							<label>Audios</label>
							<div class="right">

								<div class="song playing">
									<span class="gradient pause"><i class="fa fa-pause"></i></span>
									<span class="title animation">Laugh I Nearly Died</span>
									<i class="fa fa-times animation"></i>
									<span class="time">-4:55</span>
								</div>	
						
								<% 4.times do %>
									<div class="song">
										<span class="gradient play"><i class="fa fa-play"></i></span>
										<span class="title animation">Laugh I Nearly Died Died all over again laugh I Nearly Died Died all over again</span>
										<i class="fa fa-times animation"></i>
										<span class="time">4:55</span>
									</div>	
								<% end %>



								<div class="upload animation">
									<i class="fa fa-cloud-upload"></i>
									<div class="grey_fat">Upload Audios</div>
									<div class="grey_thin">Mp3, Aac, Max 5mb</div>
									<div class="small_fat_blue uppercase right">Drag or browse</div>
								</div>

							</div>

							<div class="clear"></div>
						</div>

						<div class="line videos">
							<label>Videos</label>
							<div class="right">

								<% 3.times do %>
									<div class="video animation">
										<div class="thumb">
											<div class="darken"><span class="play"><i class="fa fa-play"></i></span></div>
										</div>
										<div class="title">Dead Flowers (Live) - Hope Estate</div>
										<div class="stats">
											<span class="time">49:56</span>
											<span class="views">4 634 526 views</span>
										</div>
									</div>
								<% end %>


								<div class="video">
									<div class="upload animation">
										<i class="fa fa-cloud-upload"></i>
										<div class="grey_fat">Embed Videos</div>
										<div class="grey_thin">Video, YouTube</div>
										<div class="small_fat_blue uppercase">Click to embed</div>
									</div>
								</div>

							</div>
						</div>		

						<div class="line">
							<div class="right">
								<a class="flat_button uppercase">Update</a>
							</div>
						</div>				
						<div class="clear"></div>

					</form>
				</div>

				<div id="account_tab">
						<form class="form">

							<div class="line">
								<label for="account_email">Account email</label>
								<div class="right">
									<input class="input" id="account_email">
									<div class="comment">Your login email address</div>
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<label for="current_password">Current pasword</label>
								<div class="right">
									<input class="input" id="current_password">
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<label for="new_password">New pasword</label>
								<div class="right">
									<input class="input" id="new_password">
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<label for="confirm_password">Confirm pasword</label>
								<div class="right">
									<input class="input" id="confirm_password">
									<div class="comment">Minimum 6 characters</div>
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<label for="google_analytics">Google analytics</label>
								<div class="right">
									<input class="input" id="google_analytics">
									<div class="comment">Send analytics for profile to profile to Google Analytics, e.g. UA-00000000-0</div>
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<label for="notifications">Notifications</label>
								<div class="right">
									<input type="checkbox" id="notifications">
									<label class="checkbox_label" for="notifications">Recieve notifications and newsletters by email</label>
								</div>
								<div class="clear"></div>
							</div>

							<div class="line">
								<div class="right">
									<a class="flat_button uppercase">Update</a>
									<a href=""><div class="small_fat_blue uppercase">Delete yout account</div></a>
								</div>
							</div>
							<div class="clear"></div>
						</form>
				</div>

				<div id="billing_tab">
					<form>
						<div class="line current_plan">
							<label>Current plan</label>
							<div class="right">
								<div class="info">
									You are PRO (£12.00)<br>
									Your next payment is £12.00 on January 9, 2015
								</div>
								<a class="flat_button">Cancel subscription</a>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line credit_card">
							<label>Credit card</label>
							<div class="right">
								<div class="info">
									Your credirt card on file is xxxx-xxxx-xxxx-2156
								</div>
								<a class="flat_button">Edit billing details</a>
							</div>
							<div class="clear"></div>
						</div>

						<div class="line">
							<label for="current_plan">Payment history</i></label>
							<div class="right">
								<div class="info">
									October 9, 2014 — £12.00<br>November 9, 2014 — £12.00<br>December 9, 2014 — £12.00<br>July 30, 2014 — £12.00<br>August 30, 2014 — £12.00<br>March 20, 2014 — £12.00<br>April 20, 2014 — £12.00<br>April 23, 2014 — £12.00<br>April 30, 2014 — £12.00<br>May 20, 2014 — £12.00<br>June 20, 2014 — £12.00<br>July 20, 2014 — £12.00<br>July 23, 2014 — £12.00<br>July 30, 2014 — £12.00<br>February 10, 2014 — £12.00<br>March 10, 2014 — £12.00<br>March 13, 2014 — £12.00<br>March 20, 2014 — £12.00
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</form>
				</div>
			</div>
		</div>


		<aside class="right">
			<section class="activate_view">
				<a href="#" class="flat_button activate">Activate profile</a>
				<a href="#" class="flat_button view">View profile</a>
			</section>

			<section id="avatar">
				<div class="text_line">
					<span>Avatar</span>
				</div>

				<div class="img left">
					<img src="/assets/profile/avatar.jpg">
				</div>
				<div class="upload right">
					<div class="grey_fat">Upload Your Avatar</div>
					<div class="grey_thin">Min 160x160px, Max 1mb</div>
					<a href""><div class="small_fat_blue uppercase">Drag or browse</div></a>
				</div>
				<div class="clear"></div>
			</section>

			<section id="availability">
				<div class="text_line">
					<span>Availability</span>
				</div>		

				<div class="calendar">
					<div class="datepicker"></div>
					<div class="info uppercase">Choose all / Clear all</div>
				</div>
				<div id="mark_days" class="text_center">Mark the days you are unavailable</div>
				<div class="small_fat_blue uppercase text_center">Update availability</div>
			</section>

		</aside>

		<div class="clear"></div>
	</div>
</div>





