<%= provide :title, 'Profile' %>

<div id="profile">
	<section id="profile_info">
		<div class="black_gradient">
			<div class="w940px">
				<div class="info">
					<div class="logo">
						<img src="/assets/profile/entertainers/rolling_stones/logo.png">
					</div>
					<div class="name">
						<h2>The Rolling Stones</h2>
						<div class="categories">
							<a href="" class="animation">Bands & Ensembles</a><span class="slash"> / </span>
							<a href="" class="animation">Manchester</a><span class="slash"> / </span>
							<a href="" class="animation">From 22000</a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>

	<!-- structure class lets you structure page with aside and #main_container -->
	<div class="w940px structure">	

		<div id="main_container">
			<div class="tabs">
				<ul class="nav">
					<li><a href="#about">About</a></li>
					<li><a href="#technical">Technical</a></li>
					<li><a href="#prices">Prices</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<div id="about">
					<div class="biography">
						<h2 class="middle_heading">Biography</h2>
						<p>The Rolling Stones began calling themselves the "World's Greatest Rock & Roll Band" in the Sixties, and few argued with them — even then. More than 40 years later, the band's music continues to sound vital. With literally scores of genre-setting hits under the group's belt — and fronted by two of rock's biggest archetypes — the Rolling Stones have done more to define the look, attitude and sound of rock & roll than any other band in the genre's history.</p>
						<p>In the 1964 British Invasion the Stones were promoted as bad boys, a gimmick that stuck as an indelible image (partly because it was true). Their music started as a gruffer, faster version of Chicago blues, but eventually the Stones pioneered British rock's tone of ironic detachment and wrote about offhand brutality, sex as power, and other taboos.</p>
						<p>In the 1964 British Invasion the Stones were promoted as bad boys, a gimmick that stuck as an indelible image (partly because it was true). Their music started as a gruffer, faster version of Chicago blues, but eventually the Stones pioneered British rock's tone of ironic detachment and wrote about offhand brutality, sex as power, and other taboos.</p>
					</div>
					<div class="repertoire">
						<h2 class="middle_heading">Example Repertoire</h2>
						<ul class="col2">
							<li>Street Fighting Man</li>
							<li>Ruby Tuesday</li>
							<li>Wild Horses</li>
							<li>Tumbling Dice</li>
							<li>Beast of Burden</li>
							<li>Brown Sugar</li>
							<li>Miss You</li>

							<li>Street Fighting Man</li>
							<li>Ruby Tuesday</li>
							<li>Wild Horses</li>
							<li>Tumbling Dice</li>
							<li>Beast of Burden</li>
							<li>Brown Sugar</li>
							<li>Miss You</li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clients">
						<h2 class="middle_heading">Recent Clients</h2>
						<ul class="col2">
							<li>Street Fighting Man</li>
							<li>Ruby Tuesday</li>
							<li>Wild Horses</li>
							<li>Tumbling Dice Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>

							<li>Street Fighting Man</li>
							<li>Ruby Tuesday</li>
							<li>Wild Horses</li>
							<li>Wild Horses</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>

				<div id="technical">
					<h2 class="middle_heading">Technical Requirements</h2>
					<p>The Rolling Stones, take up a space of around 10 square meters and will require electricity. The Rolling Stones were in the vanguard of the British Invasion of bands that became popular in the US in 1964–65. At first noted for their longish hair as much as their music, the band are identified with the youthful and rebellious counterculture of the 1960s.</p>
					<div class="small_heading">Lead vocals, Acoustic guitar:</div>
					<ul>
						<li>1 x vocal mic (own Neumann KMS104 provided) 1 x DI</li>
					</ul>
					<div class="small_heading">Lead guitar, Backing vocals:</div>
					<ul>
						<li>1 x instrument mic (Shure SM57/β57 or equivalent), </li>
						<li>1 x vocal mic (Shure SM58/β58 or equivalent)</li>
					</ul>
					<div class="small_heading">Bass guitar, Backing vocals: </div>
					<ul>
						<li>1 x XLR (line out from bass amplifier), </li>
						<li>1 x vocal mic (Shure SM58/β58 or equivalent)</li>
					</ul>
				</div>

				<div id="prices">
					<h2 class="middle_heading">Pricing Options</h2>
					<p>The Rolling Stones offer many different pricing options to suit all budget, please see our prices below and don’t hesitate to get in touch. At first noted for their longish hair as much as their music, the band are identified with the youthful and rebellious counterculture of the 1960s.</p>
					<div class="small_heading">Full five peice band - £2,000</div>
					<ul>
						<li>Two 45 minute sets</li>
						<li>Includes travel costs</li>
					</ul>
					<div class="small_heading">The quartet option - £1,700</div>
					<ul>
						<li>Two 45 minute sets</li>
						<li>Includes travel costs</li>
					</ul>
				</div>

				<div id="contact">
					<div id="map"><img src="/assets/profile/entertainers/rolling_stones/map.png"></div>
					<div class="touch">

						<h2 class="middle_heading">Get in touch</h2>
						<p>The Rolling Stones would love to hear from you and are happy to play any event. Get in touch today to discuss your event.</p>
						<ul>
							<li>
								<span class="icon"><img src="/assets/profile/design/1.png"></span>
								Manchester
							</li>
							<li>
								<span class="icon"><img src="/assets/profile/design/2.png"></span>
								+44 20 3456 7894
							</li>
							<li>
								<span class="icon"><img src="/assets/profile/design/3.png"></span>
								rollingslones@gmail.com
							</li>
							<li>
								<span class="icon"><img src="/assets/profile/design/4.png"></span>
								www.rollingstones.com
							</li>
						</ul>
						<div class="social">
							<a href=""><img src="/assets/common/social_icons/1.png"></a>
							<a href=""><img src="/assets/common/social_icons/2.png"></a>
							<a href=""><img src="/assets/common/social_icons/3.png"></a>
							<a href=""><img src="/assets/common/social_icons/4.png"></a>
							<a href=""><img src="/assets/common/social_icons/5.png"></a>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div class="reviews">
				<h2>
					<img src="/assets/profile/design/5.png">
					Reviews
					<a href="#" class="flat_button"><span><i class="fa fa-plus"></i>Add review</span></a>
				</h2>
				<div class="add_new_review">
					<form class="form">
						<p class="name">Add your review</p>
					
						<input class="left input" type="text" name="" value="Your name" onfocus="if(this.value == 'Your name') {this.value = '';}" onblur="if(this.value == '') {this.value = 'Your name';}">
						<div class="star right">
							<input name="rating" type="radio" class="star {split:2}" value="0.5">
							<input name="rating" type="radio" class="star {split:2}" value="1">
							<input name="rating" type="radio" class="star {split:2}" value="1.5">
							<input name="rating" type="radio" class="star {split:2}" value="2">
							<input name="rating" type="radio" class="star {split:2}" value="2.5">
							<input name="rating" type="radio" class="star {split:2}" value="3">
							<input name="rating" type="radio" class="star {split:2}" value="3.5">
							<input name="rating" type="radio" class="star {split:2}" value="4">
							<input name="rating" type="radio" class="star {split:2}" value="4.5">
							<input name="rating" type="radio" class="star {split:2}" value="5">
							<input name="rating" type="radio" class="star {split:2}" value="5.5">
							<input name="rating" type="radio" class="star {split:2}" value="6">
							<input name="rating" type="radio" class="star {split:2}" value="6.5">
							<input name="rating" type="radio" class="star {split:2}" value="7">
							<input name="rating" type="radio" class="star {split:2}" value="7.5">
							<input name="rating" type="radio" class="star {split:2}" value="8">
							<input name="rating" type="radio" class="star {split:2}" value="8.5">
							<input name="rating" type="radio" class="star {split:2}" value="9">
							<input name="rating" type="radio" class="star {split:2}" value="9.5">
							<input name="rating" type="radio" class="star {split:2}" value="10">
						</div>
						<div class="clear"></div>
						
						<textarea name="" onfocus="if(this.value == 'Your review') {this.value = '';}" onblur="if(this.value == '') {this.value = 'Your review';}">Your review</textarea>
						<input class="submit_btn" type="submit" name="suvmit" value="Post">
					</form>
				</div>
				
				<% 3.times do %>
				<div class="review">
					<div class="name">Kate Middleton 
						<div class="rating">
							<span>6<sub>.0</sub></span>
							<div class="stars"></div>
						</div>
					</div>
					<div class="date">1 MONTH AGO</div>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper gravida leo vitae fermentum. Morbi adipiscing sem sit amet odio commodo auctor nec ut ipsum. Cras cursus odio nisl, non tincidunt nibh posuere vel. Donec nec ligula elementum, suscipit orci et, scelerisque dui. Etiam sollicitudin vulputate felis, ut scelerisque purus imperdiet nec. Sed sollicitudin euismod diam in fringilla. In adipiscing ipsum ut mi rhoncus pharetra. Nam blandit libero nec ipsum mattis iaculis.</div>
				</div>
				<% end %>
				
				
				<div class="loading-spinner text_center"><img src="/assets/common/ajax-loader.gif"></div>
			</div>
		</div>


		<aside>
			<!-- in blog aside sections were named by classes. I don't know what makes more sense. -->
			<section id="send_add">
				<a href="#" class="flat_button send"><i class="fa fa-paper-plane"></i> send enquiry</a>
				<a href="#" class="flat_button add"><i class="fa fa-heart"></i> add to favorite</a>
			</section>

			<section id="photos">
				<div class="text_line">
					<span>Photos</span>
				</div>
				<a href="#photo_modal" class="gallery">
					<% 5.times do %><img src="/assets/profile/entertainers/rolling_stones/photo_thumbs/1.jpg"><% end %>
					
					<div class="gradient_out">
						<div class="gradient_in">
							<div>134 <br><span class="ellipsis">...</span></div>
						</div>
					</div>
				</a>
			</section>

			<section id="availability">
				<div class="text_line">
					<span>Availability</span>
				</div>		

				<div class="calendar">
					<div class="datepicker"></div>
					<div class="info">
						<div><img src="/assets/available_icon.png" alt="">available</div>
						<div><img src="/assets/booked_icon.png" alt="">booked</div>
					</div>
				</div>
			</section>

			<section id="audios">
				<div class="text_line">
					<span>Audios</span>
				</div>

				<div class="song">
					<span class="gradient pause"><i class="fa fa-pause"></i></span>
					<span class="title">Laugh I Nearly Died</span>
					<span class="time">-4:55</span>
				</div>
				<div class="song">
					<span class="gradient play"><i class="fa fa-play"></i></span>
					<span class="title">Laugh I Nearly Died Died all over again</span>
					<span class="time">4:55</span>
				</div>
				<div class="song">
					<span class="gradient play"><i class="fa fa-play"></i></span>
					<span class="title">Laugh I Nearly Died</span>
					<span class="time">12:55</span>
				</div>		
			</section>

			<section id="videos">
				<div class="text_line">
					<span>Videos</span>
				</div>

				<div class="video">

					<div class="thumb">
						<div class="darken"><span class="play"><i class="fa fa-play"></i></span></div>
					</div>
					<div class="description">
						<div class="title">
							Dead Flowers Hoping For An End
						</div>
						<div class="time">
							20:34
						</div>
						<div class="views">
							23 015 views
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="video">

					<div class="thumb">
						<div class="darken"><span class="play"><i class="fa fa-play"></i></span></div>
					</div>
					<div class="description">
						<div class="title">
							Alice gone there
						</div>
						<div class="time">
							310:34
						</div>
						<div class="views">
							23 015 views
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="video">
					<div class="thumb">
						<div class="darken"><span class="play"><i class="fa fa-play"></i></span></div>
					</div>
					<div class="description">
						<div class="title">
							Gnome threw crown with no thought shown
						</div>
						<div class="time">
							5:34
						</div>
						<div class="views">
							414 200 015 views
						</div>
					</div>
					<div class="clear"></div>
				</div>	
			</section>
		</aside>

		<div class="clear"></div>
	</div>
</div>


<div class="modal" id="photo_modal">
	<ul class="slider">
		<% 10.times do %>
		<li data-thumb="/assets/profile/entertainers/rolling_stones/photo_thumbs/1_larger.jpg">
			<img src="/assets/profile/entertainers/rolling_stones/photos/1.jpg">
		</li>
		<li data-thumb="/assets/profile/entertainers/rolling_stones/photo_thumbs/1_larger.jpg">
			<img src="/assets/profile/entertainers/rolling_stones/photo_thumbs/1_larger.jpg">
		</li>
		<% end %>
	</ul>
</div>








