<%= provide :title, 'Entertaina' %>

<div id="index">


<section class="how">
	<div class="w940px text">	
		
		
		<h1 class="blue text_center">How Does It Work?</h1>
	    <div class="column">
		<p> Whether your planning the dream wedding or big birthday bash, putting on a themed evening or works party. Entertaina is here to help you find the perfect act to make that event extra special. We have a whole host of entertainment from bands, singers and musicians to jugglers, magicians and comedians. Our aim is to make finding your act as quick, simple and hastle free as possible. There's no need to sign up, simply view our acts by entering a keyword into the search bar and use the filters to narrow your search. You can view Entertainers profiles, save your favourites, contact  directly, and here's the best bit, we don't take a cut from bookings made, so you can save money and be sure that you're getting the best price. </p>
	    </div>
		<div class="clear"></div>
		
	</div>
	
	
</section>

<section class="entertainers">
	<div class="gradient">
		<div class="w940px">
			<h1 class="white text_center">Popular Entertainers</h1>
			
			<ul class="slider">
				<% 10.times do %>
					<li class="entertainer">
						<div class="image">
							<a class="favorites_link" href="/profiles/1"><img src="/assets/common/binocle.png"> View profile</a>
							<img class="img" src="/assets/list_item_thumb.jpg">
							<div class="location"><img src="/assets/location_icon.png">Birmingham</div>
						</div>
						
						<div class="info">
							<div class="name"><a href="/">Blue Jewel Ceilidh Band</a></div>
							<span class="price">From £900</span> <span class="reviews">4560 reviews</span>
							<div class="desc">A swinging jazz band guaranteed to get your party dancing. We bring the party to the band guaranteed to get your</div>
						</div>
					</li>
				<% end %>
			</ul>

		</div>
	</div>
	<div class="clear"></div>
</section>

<section class="categories text">
	<h1 class="blue text_center">Popular Categories</h1>
	<div class="w940px">
	
	
		<div class="item">		
		    <div class="name-icon"><img src="/assets/index/popular_categories/1_wedding.png" alt=""></div>
			<div class="name"><h3>Wedding Bands</h3></div>					
			<p class="desc">Search through hundreds of wedding bands for hire, to find the perfect music for your wedding day.</p>
		</div>
				
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/2_jazz.png" alt=""></div>
			<div class="name"><h3>Jazz Bands</h3></div>
			<p class="desc">Whether you want to create a sophisticated atmosphere or get your guests swinging, find a jazz band for hire to suit your event.</p>
		</div>
		
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/3_function.png" alt=""></div>
			<div class="name"><h3>Function Bands</h3></div>
			<p class="desc">Looking to hire a fantastic function band? <br>
			Look no further... <br>
			Search function bands now!</p>
		</div>

	
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/4_dj.png" alt=""></div>
			<div class="name"><h3>DJ’s</h3></div>
			<p class="desc">If you want to hire a DJ or mobile disco for your wedding or party, search the DJ's category to find the perfect party package.</p>
		</div>
		
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/5_party.png" alt=""></div>
			<div class="name"><h3>Wedding Entertainment</h3></div>
			<p class="desc">Keep your guests entertained and wow them with something a little different. Search acts ranging from comedians to fire eaters.</p>
		</div>
		
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/6_vintage.png" alt=""></div>
			<div class="name"><h3>Vintage Bands</h3></div>
			<p class="desc">Looking for something with a vintage vibe? From 1920s swing to 50s rockabilly, discover vintage bands available for hire.</p>
		</div>


		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/7_string.png" alt=""></div>
			<div class="name"><h3>String Quartets</h3></div>
			<p class="desc">Hiring a string quartet can create a tranquil and romantic atmosphere. Find your string quartet here!</p>
		</div>
		
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/8_solo.png" alt=""></div>
			<div class="name"><h3>Solo Acts</h3></div>
			<p class="desc">Entertaina has a huge variety of solo acts available to hire, from guitarists and accordionists to singers and pianists.</p>
		</div>
		
		
		<div class="item">
			<div class="name-icon"><img src="/assets/index/popular_categories/9_background.png" alt=""></div>
			<div class="name"><h3>Background Music</h3></div>
			<p class="desc">Search through both solo and group </br> acts to find the perfect background music </br> for your event.</p>
		</div>
	</div>
</section>



</div>







