<%= provide :title, 'Entertaina' %>

<section class="how">
	<div class="w940px text">	
		<h1 class="blue text_center">How Does It Work?</h1>
		<p class="left">Whether you are planning the dream wedding or big birthday bash, putting on a themed evening or works party. Entertaina is here to help you find the perfect act to make that event extra special. We have a whole host of entertainment from bands, singers and musicians to jugglers, magicians and comedians. Our aim is to make finding your act as quick, simple and</p>

		<p class="right"><span class="blue">hastle free</span> as possible. There's <span class="blue">no need to sign up</span>, simply view our acts by entering a keyword into the search bar and use the filters to narrow your search. You can view Entertainers profiles, save your favourites, contact  directly, and here's the best bit, we don't take a cut from bookings made, so you can <span class="blue">save money</span> and be sure that you're getting the best price. </p>
		<div class="clear"></div>
	</div>
</section>

<section class="entertainers">
	<div class="gradient text">
		<div class="width">
			<h1 class="white text_center">Popular Entertainers</h1>
			<div class="jcarousel">
				<ul>
					<% 20.times do %>
						<li class="entertainer">
							<div class="image">
								<a class="favorites_link" href="/"><img src="/assets/favorites_icon.png"> add to favorites</a>
								<img class="img" src="/assets/list_item_thumb.jpg">
								<div class="location"><img src="/assets/location_icon.png">Birmingham</div>
							</div>
							
							<div class="info">
								<div class="name"><a href="/">Blue Jewel Ceilidh Band</a></div>
								<span class="price">From £900</span> <span class="reviews">4560 reviews</span>
								<div class="desc">A swinging jazz band guaranteed to get your party dancing. We bring the party to the band guaranteed to get your</div>
							</div>
						</li>
					<% end %>

				</ul>
			</div>
			<a class="j-prev"><i class="fa fa-angle-left"></i></a>
			<a class="j-next"><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
	<div class="clear"></div>
</section>

<section class="categories">
	<h1 class="blue text_center">Popular categories</h1>
	<div class="w940px">
		<div class="item">
			<img src="/assets/index/popular_categories/1.png" alt="">
			<div class="name">Wedding bands</div>
			<div class="desc">Search through hundreds of wedding bands for hire, to find the perfect music for your wedding day.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/2.png" alt="">
			<div class="name">Jazz bands</div>
			<div class="desc">Whether you want to create a sophisticated atmosphere or get your guests swinging, find a jazz band for hire to suit your event.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/3.png" alt="">
			<div class="name">Function bands</div>
			<div class="desc">Looking to hire a fantastic function band? <br>
			Look no further... <br>
			Search function bands now!</div>
		</div>
	</div>
	<div class="w940px">
		<div class="item">
			<img src="/assets/index/popular_categories/4.png" alt="">
			<div class="name">DJ’s</div>
			<div class="desc">If you want to hire a DJ or mobile disco for your wedding or party, search the DJ's category to find the perfect party package.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/5.png" alt="">
			<div class="name">Wedding/Party entertainment</div>
			<div class="desc">Keep your guests entertained and wow them with something a little different. Search acts ranging from comedians to fire</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/6.png" alt="">
			<div class="name">Vintage bands</div>
			<div class="desc">Looking for something with a vintage vibe? From 1920s swing to 50s rockabilly, discover vintage bands available for hire.<br>
			Search function bands now!</div>
		</div>
	</div>
		<div class="w940px">
		<div class="item">
			<img src="/assets/index/popular_categories/7.png" alt="">
			<div class="name">String quartets</div>
			<div class="desc">Hiring a string quartet can create a tranquil and romantic atmosphere. Find your string quartet here!</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/8.png" alt="">
			<div class="name">Solo acts</div>
			<div class="desc">Entertaina has a huge variety of solo acts available to hire, from guitarists and accordionists to singers and pianists.</div>
		</div>
		
		<div class="item">
			<img src="/assets/index/popular_categories/9.png" alt="">
			<div class="name">Background music</div>
			<div class="desc">Search through both solo and group acts to find the perfect background music for your event.</div>
		</div>
	</div>
</section>



