<aside>
	<section class="entertaina_blog">
		<div class="text_line"><span>Entertaina Blog</span></div>

		<div class="text">
			<img class="photo" src="/assets/blog/photo.jpg">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam hey now...
			<img class="signature" src="/assets/blog/signature.png">
		</div>
	</section>

	<section class="follow">
		<div class="text_line"><span>Follow</span></div>

		<div class="social">
			<div class="inline-block">
				<a href=""><img src="/assets/common/social_icons/1.png"></a>
				<a href=""><img src="/assets/common/social_icons/2.png"></a>
				<a href=""><img src="/assets/common/social_icons/3.png"></a>
				<a href=""><img src="/assets/common/social_icons/4.png"></a>
				<a href=""><img src="/assets/common/social_icons/5.png"></a>
				<a href=""><img src="/assets/common/social_icons/6.png"></a>
				<a href=""><img src="/assets/common/social_icons/7.png"></a>
			</div>
		</div>
	</section>

	<section class="subscribing">
		<div class="gradient">
			<div class="transparent_text_line">
				<span class="line"></span>
				<span>Subscribing</span>
				<span class="line"></span>
			</div>

			<div class="text">
				Recieve the latest articles and news from Entertaina.com
			</div>

			<form class="transparent_circle_form">
				<input type="text" name="" value="hello@entertaina.com">
				<div class="circle"><i class='fa fa-angle-right'></i></div>
			</form>
			
		</div>	
	</section>

	<section class="pinterest">
		<div class="text_line"><span>Pinterest</span></div>
		<div class="row inline-block">
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
		</div>
		<div class="row inline-block">
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
			<a href=""><img src="/assets/blog/post_images/1.png"></a>
		</div>		
		<div class="clear"></div>	
	</section>
		
	<section class="twitter">
		<div class="text_line"><span>Twitter</span></div>

		<b>@entertaina</b><span class="date">Nov 28</span>
		<div class="text">
			Network issue has been resolved and our site is up. <span class="blue">#ThankfulFor</span> Profuse apologies for the downtime, we really appreciate your patience.
		</div>
		<div>
			<a href="" class="next"> Next tweet <i class="fa fa-angle-right"></i></a>
		</div>
	</section>


	<section class="ads">
		<a href="#upgrade_form" class="fancy">
			<div class="logo"><img src="/assets/common/grey_logo.png"></div>
			<div class="desc">
				<p>Awesome<br> Promotion<br> Here</p>
				<p class="details">Try right now <img src="/assets/arrow_right_grey.png"></p>
			</div>
		</a>
	</section>
</aside>