<%= provide(:title, 'All posts') %>

<%= render '/layouts/icons' %>

<div class="w940px structure" id="blog">	

	<div id="main_container">
		<% 3.times do %>
			<div class="post">
				<img class="img" src="/assets/blog/post_images/1.jpg">
				<div class="title">
					<a href="/blog_posts/1">Floral Wallpaper</a>
					<div class="share">
						<span>Share:</span>
						<a href=""><span><svg viewbox="0 0 32 32"><use xlink:href="#twitter"></svg></span></a>
						<a href=""><span><svg viewbox="0 0 32 32"><use xlink:href="#facebook"></svg></span></a>
						<a href=""><span><svg viewbox="0 0 32 32"><use xlink:href="#pinterest"></svg></span></a>
					</div>
				</div>
				<div class="small_fat_blue">March 15, 2014</div>
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tempor mauris, sed porttitor arcu. Aenean posuere dignissim dapibus. Mauris quis nunc eleifend, sodales massa sed, pellentesque diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas a semper felis, eget tempus justo. Nullam varius mauris in ipsum lacinia, in pharetra ...</p>
					<nav>
						<a href="/blog_posts/1">Continue reading<i class="fa fa-angle-right"></i></a>
					</nav>
				</div>
			</div>	
		<% end %>	
		

		<div class="page_pagination">
			<div class="inline-block">
				<a href="/"><i class="fa fa-angle-left"></i></a>
				<a class="active">1</a>
				<a href="/">2</a>
				<a href="/">3</a>
				<a href="/"><i class="fa fa-angle-right"></i></a>
				<div class="clear"></div>
			</div>
		</div>
		
	</div>
		
	
	<%= render "aside" %>
	<div class="clear"></div>

</div>