<div id="news">

<div class="this_week">
	<h1>This Week at Entertaina</h1>
	<div class="month">SEPTEMBER 8-12, 2014</div>
</div>

<% 2.times do %>
<div class="white_box">

	<div class="image">
		<img src="/assets/emails/1.jpg">
	</div>

	<p class="big_text pad">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</p>

	<p class="small_text pad">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor.
	</p>

	<div class="flat_button">READ NOW</div>

</div>
<% end %>



</div>
