<div class="white_box" id="welcome">

	<div class="welcome gradient_bg">
		<h1>Welcome to Entertaina!</h1>
		<div>Nice to have you on board, nickname!</div>
	</div>

	<p class="big_text pad">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	</p>

	<p class="small_text pad">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur.
	</p>

	<div class="flat_button">START MANAGE YOUR PROFILE
	</div>

</div>



