@import 'application';

#blog{
	aside{
		font-size: 14px;
		line-height: 22px;
		float: right;
		.follow{
			.social{
				a{ margin-right: 2px; margin-left: 2px; }
				img{ width: 30px; }
			}
		}

		.entertaina_blog{
			font-size: 15px;
			line-height: 24px;
			.photo{
				padding-right: 20px;
				float: left;
			}
			.signature{
				float: right;
				padding-top: 12px;
			}
		}

		.subscribing{
			color: white;
			background-image: url('/assets/blog/follow_violin.png');
			background-size: cover;
			width: 100%;
			position: relative;
			border-radius: 5px;
			min-height: 180px;
			.gradient{ border-radius: 5px; min-height: 180px; height: 100%; }
			.transparent_text_line{ padding-top: 20px; }
			.text{ padding: 0 20px; }
			form{ width: 174px; margin: 20px auto;}
		}

		.pinterest{
			img{
				width: 80px;
				height: 80px;
				border-radius: 5px;
			}
			a:not(:last-child) img{ margin-right: 10px; }
			a{ float: left; }
		}

		.twitter{
			font-size: 15px;
			.text{ padding: 10px 0; }
			.date{
				color: rgb(176, 175, 175);
				padding-left: 10px;
			}
			b{ font-family: FuturaPTBook; font-size: 16px;}
			.next{ color: $blue; font: 13px/19px FuturaPTDemi; text-transform: uppercase; margin-top: 12px; }
		}

		section{
			margin-bottom: 32px;
			.text_line, .transparent_text_line{ margin-bottom: 20px; }
		}
	}

	#main_container{
		float: left;
		
		.post{
			&:not(:nth-last-child(2)){ border-bottom: 1px solid #eff1f3; }
			&:not(:first-child){ padding-top: 40px; }

			.img{ width: 100%; }
			.title{ font:30px FuturaPTDemi; margin-bottom: 5px; }
			.title .share{
				float: right;
				font: 13px/19px FuturaPTDemi;
				text-transform: uppercase;
				color: #394c60;
			}
			.title .share img{
				width: 22px;
				position: relative;
				top: 5px;
				margin-left: 5px;
			}
			.text{ 
				color: #394c60; font: 16px/28px FuturaPTBook; 

				blockquote{
					padding-left: 20px;
					border-left: 3px #c0e9e5 solid;
					color: #b0b9c3;
					font-size: 26px;
					line-height: 35px;
					font-family: 'FuturaPTBookOblique';
					margin-bottom: 20px;
				}
				ul{
					margin-bottom: 20px;
				}
			}
			.img{ width: 100%; display: block; margin-bottom: 25px; border-radius:5px; }

		}

		nav{ 
			font: 13px/19px FuturaPTDemi; text-transform: uppercase; margin-top: 25px; padding-bottom: 50px; 
			a{ color: $blue; }
			i{ font-weight: 700; }
			.fa-angle-right{ padding-left: 5px; }
			.fa-angle-left{ padding-right: 5px; }
		}
	}
}
		

//_________________________responsive
#blog{
	@media (max-width: 985px){
		#main_container{
			float: none;
			padding-right: 0;
			margin-right: 0;
			.post .share{ width: 100%; }
			.page_pagination .inline-block{ display: inline-block; }
		}
		aside{
			float: none;
			width: 100%;
			font-size: 0px;
			section{
				font-size: 14px;
				width: 50%;
				display: inline-block;
				box-sizing: border-box;
				vertical-align: top;
				margin-bottom: 60px;
			}
			.entertaina_blog, .pinterest{ padding-right: 20px; }
			.follow, .twitter{ padding-left: 20px; }
			.ads{ margin-right: auto; margin-left: auto; display: block; width: 300px; }
			section.subscribing{ width: 100%; padding-right: 0; text-align: center; }
			.follow{
				text-align: center;
				.inline-block{ display: inline-block; }
			}
			.pinterest{
				text-align: center;
				.inline-block{ display: inline-block; }
			}
		}
	} 

	@media (max-width: 620px){
		aside section{ width: 100%; }
	}
}




