@import 'application';

#integration{display: none;}

#blog{
	aside{
		font-size: 14px;
		line-height: 22px;
		float: right;
		.follow{
			.social{
				a span{
					position: relative;
					top: 2px;
					width: 26px;
					height: 26px;
					border: 1px $light solid;
					border-radius: 14px;
					display: inline-block;
					margin: 0 3px 0 3px;					
				}
				svg{
					width:16px;
					height:16px;
					margin-left: 5px;
					margin-top: 5px;
					fill: $grey;
				}
			}
		}

		.entertaina_blog{
			font-size: 15px;
			line-height: 24px;
			.photo{
				border-radius: 50%;
				margin-right: 20px;
				float: left;
			}
			.signature{
				float: right;
				padding-top: 12px;
			}
		}

		.subscribing{
			color: white;
			background-image: url('/assets/blog/follow_violin.jpg');
			background-size: cover;
			width: 100%;
			position: relative;
			border-radius: 5px;
			min-height: 180px;
			.gradient{ 
				border-radius: 4px; 
				min-height: 180px; 
				height: 100%; 
			}
			.transparent_text_line{ padding-top: 20px; }
			.text{ padding: 0 20px; }
			.form{
				margin: 0 20px;
				position: relative;
				padding-top: 8px;
				input[type=text]{
					background: rgba(255, 255, 255, 0.2);
					position: absolute;
					border-radius: 30px;
					padding: 0 20px 0 20px;
					height: 36px;
					border: none;
					width: 100%;
					box-sizing: border-box; -moz-box-sizing: border-box;
					font-size: 14px;
				}	
				.button{
					background: white;
					width: 36px;
					height: 36px; 
					padding: 7px 0 0 17px; 
					position: relative;		
					border-radius: 30px;
					box-sizing: border-box; -moz-box-sizing: border-box;
					float: right;
					right: 2px;
					@extend .animation;
					i{  
						font-weight: 700;
						color: $blue;
					}
				}	
			}	
		}

		.pinterest{
			img{
				width: 80px;
				height: 80px;
				border-radius: 4px;
			}
			a{ 
				float: left;
				width: 80px;
				height: 80px;
				margin-right: 10px;
				margin-top: 10px;
				&:last-child {margin-right: 0px;}
			 }
		}

		.twitter{
			font-size: 15px;
			.text{ padding: 10px 0; }
			.date{
				color: rgb(176, 175, 175);
				padding-left: 10px;
			}
			i{ font-weight: 700; margin-left: 5px; }
			b{ font-family: FuturaPTBook; font-size: 16px;}
			.next{ color: $blue; font: 13px/19px FuturaPTDemi; text-transform: uppercase; margin-top: 12px; }
		}

		section{
			margin-bottom: 32px;
			.text_line, .transparent_text_line{ margin-bottom: 20px; }
		}
	}

	#main_container{
		float: left;
		
		.post{
			&:not(:nth-last-child(2)){ border-bottom: 1px solid #eff1f3; }
			&:not(:first-child){ padding-top: 40px; }

			.img{ width: 100%; }
			.title{ font:30px FuturaPTDemi; margin-bottom: 5px; }
			.title .share{
				float: right;
				font: 13px/19px FuturaPTDemi;
				text-transform: uppercase;
				color: #394c60;
				a span{
					position: relative;
					top: 3px;
					width: 22px;
					height: 22px;
					border: 1px #d7dce0 solid;
					border-radius: 12px;
					display: inline-block;
					margin-left: 4px;
				}
				svg{
					width:14px;
					height:14px;
					margin-left: 4px;
					margin-top: 4px;
					fill: $grey;
				}
			}
			.text{ 
				color: #394c60; font: 16px/28px FuturaPTBook; 

				blockquote{
					padding-left: 20px;
					border-left: 3px #c0e9e5 solid;
					color: #b0b9c3;
					font-size: 26px;
					line-height: 35px;
					font-family: FuturaPTBook;
					margin-bottom: 20px;
				}
				ul{
					margin-bottom: 20px;
				}
			}
			.img{ width: 100%; display: block; margin-bottom: 25px; border-radius:4px; }

		}

		nav{ 
			font: 13px/19px FuturaPTDemi; text-transform: uppercase; margin-top: 25px; padding-bottom: 50px; 
			a{ color: $blue; }
			i{ font-weight: 700; }
			.fa-angle-right{ padding-left: 5px; }
			.fa-angle-left{ padding-right: 5px; }
		}
	}
}
		

//_________________________responsive
#blog{
	@media (max-width: 800px){
		#main_container{
			float: none;
			padding-right: 0;
			margin-right: 0;
			.post .share{ width: 100%; }
			.page_pagination .inline-block{ display: inline-block; }
		}
		aside{
			float: none;
			margin: 0 auto;
		}
	} 

}




