input[placeholder]{
	text-overflow: ellipsis;	
}
::placeholder{
	text-overflow: ellipsis;
	opacity: 1; 
	transition: opacity 0.3s ease;  
	color: #fff;
}
:focus::placeholder{
	opacity: 0; 
	transition: opacity 0.3s ease;
}

header{
	padding: 10px 0;
	background: $green_blue;
	position: relative;
	z-index: 2;
	margin-bottom: 70px;
	.logo{ 
		display: block;
		height: 38px;
		padding-top: 2px;
		svg{
			width: 110px;
			path{ fill: #fff; }
		}
	}
	
	#logo{
		display: inline-block;
		padding-left: 20px;
		vertical-align: middle;
		position: relative;
		top: 3px;
		img{
			border-radius: 50%;
			border: 2px rgba(255, 255, 255, 0.45) solid;
			width: 30px;
		}
		.dropdown{
			position: absolute;
			background: rgba(8, 18, 29, 0.9);
			text-align: center;
			right: -52px;
			border-radius: 5px;
			li{
				display: block;
				padding: 2px 40px;
				margin-left: 0;
				border-bottom: 1px rgba(176, 185, 195, 0.34) solid;
			}
			.triangle{
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid rgba(8, 18, 29, 0.9);
				position: absolute;
				top: -5px;
				left: 61px;
			}
		}
	}
	.sign_up_link{
		display: block;
		font: 12px/31px FuturaPTHeavy;
		margin-left: 25px;
		margin-top: 3px;
		border-radius: 4px;
		border: 2px solid rgba(255, 255, 255, 0.3);
		width: 71px;
		text-align: center;
		height: 30px;
	}
	.burger{
	    display: none;
		margin-left: 25px;
		margin-top: 6px;
		text-align: center;
		svg{
			width: 22px;
			path{ fill: #fff; }
		}
	}	
	a{ 
		color: white; 
		text-transform: uppercase; 
	}

	/*when signed up___*/
	.profile{ 
		position: relative; 
		.account_link{ 
			padding: 20px; 
			margin: -20px 0 -20px 25px; 
			font: 14px/32px FuturaPTHeavy; 
		}
		&:hover{
			.account_link{ background: #3bb8bb; }
			ul{ display: block; }
		}
		.account_link .avatar{ 
			border-radius: 50%;
			border: 2px solid #87d3d5;
			vertical-align: middle;
			margin-right: 12px;
		}
		.account_link .arrow{ 
			vertical-align: middle; 
			margin-left: 12px; 
		}
		ul{
			position: absolute;
			top: 45px;
			right: 45px;
			width: 130px;
			border-radius: 5px;
			background: #1a2b3f;
			background: rgba(26,43,63,.9);
			text-align: center;
			display: none;
			li{ 
				list-style-type: none; 
				font: 12px/40px FuturaPTHeavy; 
				border-bottom: 1px solid #4c585e; 
			}
			li:last-child{ border:none; }
		}
		ul:before{
			display: block;
			width: 13px;
			height: 6px;
			position: absolute;
			top: -6px;
			left: 50%;
			margin-left: -7px;
			content: '1';
			text-indent: -9999px;
			background: url(../images/profile_popup_arrow.png) 0 0 no-repeat;
		}
	}
	/*___when signed up*/
}


/*_____________both footer and header____________*/
.menu li{ 
	list-style-type: none; 
	display: inline-block; 
	font: 12px/40px FuturaPTHeavy; 
	margin-left: 25px; 
}
/*_________/___both footer and header____________*/


@media screen and (max-width: 600px) {
	header .sign_up_link, .menu li{
		display: none;
	}
	header{
		padding: 15px 0;
		.logo{ 
			margin-top: 3px; 
			svg{ 
				width: 94px; 
				path{ fill: #fff; }
			}
		}
		.burger{ 
			display: block; 
		}
	}
}

footer{
	background: $green_blue;
	padding: 20px 0;
	color: white;
	a{ 
		color: white; 
		text-transform: uppercase; 
	}
	.copy{ 
		font: 14px/24px FuturaPTBook; 
		position: relative;
		display: inline-block;
		p{
			margin-left: 10px; 
			margin-top: 3px; 
			display: inline-block; 
			position: relative;
		}
	}
	.copy-logo{
	    display: inline-block;
	    position: relative;
	    float: left;
	    height: 17px;
	    margin-top: 3px;
		svg{
			width: 70px;
	 		path{ fill:#fff; }
	 	}
	}
	.social{ 
		margin-left: 25px; 
		height:24px; 
		svg{
			width: 16px; 
			margin: 6px 0 0 6px; 
			path{ fill:#fff; }
		}
	}	
	.social a{
	    border: 1px rgba(255, 255, 255, 0.4) solid;
		display: inline-block;
		border-radius: 30px;
		width: 28px;
		height: 28px;
		margin-left: 5px;
	} 
	.menu li{ 
		line-height: 24px; 
		font-size: 10px; 
	}
	.menu li:first-child{ 
		margin-left: 0; 
	}
}

.footer-container{margin-top: 20px;}

.modal{ 
	padding: 40px 60px; 
	display: none; 
	width: 300px;
	.modal_title{ 
		margin-bottom: 30px; 
		text-align: center; 
		color: $greenish; 
		font: 30px/30px FuturaPTDemi; 
	}
	.other_links{
		margin-top: 22px; 
		color: $grey; 
		font: 16px/28px FuturaPTBook; 
		text-align: center;
		a{ color: $blue; }
		a:hover{ text-decoration: underline; }
	}
	.plan{
		background: $light_light;
		padding: 20px 20px;
		border-radius: 5px;
		text-align: center;
		position: relative;
		margin-bottom: 20px;
		.price{ 
			font-size: 28px; 
			font-family: FuturaPTHeavy; 
		}
		.choose{
			text-transform: uppercase;
			font-family: FuturaPTHeavy;
			color: $blue;
			font-size: 14px;
			margin-top: 10px;
		}
		img{
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}

#billing_form{
	.comment{
		color: $light;
		text-align: center;
		margin-top: 20px;
		.secure{
			font-family: FuturaPTDemi;
		}
		img{
			margin-right: 10px;
		}
	}
	.change .left{ 
		font-family: FuturaPTDemi; 
	}
	.change .right{ 
		font-family: FuturaPTHeavy; 
		font-size: 12px; 
	}
	#cvc{ 
		background: url('/assets/common/modals/question.png') no-repeat 130px 8px;
	}
}

header.big{
	color: white;
	text-align: center;
	padding: 0;
	background-position: 50% 0px;
	background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
	background-image: url('/assets/index/footer/bg.jpg');
	#search_block{ 
	    max-width: 940px;
	    margin-left: auto; 
	    margin-right: auto;
		margin: 80px 0 85px; 
		.title{ 
			font: 40px FuturaPTHeavy; 
			margin-bottom: 10px; 
		}
		.desc{ 
			font: 18px FuturaPTBook; 
			margin-bottom: 30px; 
			max-width: 500px; 
			margin-left: auto; 
			margin-right: auto; 
		}
		input[type=text]{
			background: rgba(255, 255, 255, 0.2);
			border-radius: 30px;
			padding: 0 35px 0 50px;
			height: 51px;
			width: 100%;
			max-width: 500px;
			box-sizing: border-box;
			margin-left: auto; 
			margin-right: auto;
			font: 16px/28px FuturaPTBookOblique;	
		}	
		.form{
		    svg{
		    	position: absolute;
		    	margin: 18px 0 0 22px;
		    	width: 16px; 
		    	path{ fill:#fff; }
		    }
		}
		.button{
			background: white;
			width: 120px;
			height: 35px;
			position: absolute;
			float: right;
			margin-left: -120px;
			color: #47bbc3;
			font: 14px FuturaPTDemi;
			border-radius: 30px;
			padding-top: 16px;
			transition: all 0.3s ease;
			&:hover{ opacity: 0.7; }		
		}
	}	
	.gradient{ 
		padding: 20px 0; 
		width: 100%; 
		height: 100%; 
	}
}

@media screen and (max-width: 600px) {   
	header.big{
	    #search_block{
	    	margin: 50px 0 60px;
			.title{ font-size: 32px;}
			.desc{ font-size: 16px;}
			input[type=text]{
				padding-left: 25px;
				font: 14px/28px FuturaPTBookOblique;
				text-align: center;
			}
			.form{
				svg{
					display: none;
					float:left;
				}
			}
			.button{
				display: inline-block;
				margin: 10px auto auto auto;
				position:relative;
				float: none;
			}
	    }
	}
}

footer.big{
	background-image: url('/assets/index/footer/bg.jpg');
	background-position: 50% 0px;
	background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
	position: relative;
	padding: 0;
	.gradient{
		padding: 20px 0;
		width: 100%;
		height: 100%;
	}
	#top_footer{
		font-size: 0px;
		.w25{
			width: 23%;
			margin-top: 25px;
			margin-right: 25px;
			display: inline-block;
			box-sizing: border-box;
			position: relative;
			font: 16px/20px FuturaPTBook;
			vertical-align: top;
			&:nth-child(4n){ margin-right: 0; }
			p{ margin-bottom: 10px; }
		}
		
		@media screen and (max-width: 980px) {
			.w25{
				width: 45%;
				margin-right: 40px;
				&:nth-child(2n){ margin-right: 0; }
			}
		}
    
		@media screen and (max-width: 600px) {
			.w25{
				width: 100%;
				&:nth-child(2n){ margin-right: 0; }
			}
	    }	
		.form{
			 padding-top: 8px;
			 input[type=text]{
				background: rgba(255, 255, 255, 0.2);
				position: absolute;
				border-radius: 30px;
				padding: 0 20px 0 20px;
				height: 36px;
				border: none;
				width: 100%;
				box-sizing: border-box;
				font-size: 14px;
			}	
			.button{
				background: white;
				width: 36px;
				height: 36px; 
				position: relative;		
				border-radius: 30px;
				float: right;
				transition: all 0.3s ease;
				&:hover{ opacity: 0.7; }	
				svg {
					width: 6px; 
					margin: 13px 0 0 16px;
					padding: 0px; 
					path{ fill: $blue; }
				}
			}	
		}		
		.footer-titles {
		    height: 30px;
		    margin-bottom: 10px;
			svg{
				width: 70px; 
				padding: 0px;
				margin-right: 20px; 
				path{ fill: #fff; }
			}
		}			
		.bold{
			text-transform: uppercase;
			font-size: 12px;
			font-family: FuturaPTDemi;
			margin-top: 3px;
			height: 27px;									
			svg{
				width: 5px; 
				padding: 0px;
				margin-left: 5px; 
				vertical-align: center; 
				path{ fill: #fff; }
			}			
		}	
		.thumbs{
			max-width: 216px;
			img{
				border-radius: 4px;
				width: 28%;
				font-size: 0px;
				margin-right: 5px;
				margin-top: 4px;
				box-sizing: border-box;
				&:nth-child(3n){ margin-right: 0; }
			}
		}
		.line{
			border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
			margin-top: 40px;
		}
	}
}