.gmnoprint, .gm-style-cc, #map > div > div:nth-child(2){ display: none; } /*google map*/

.ui-tabs .ui-tabs-panel {
	padding: 0;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding-left: 0;
}
.ui-tabs-nav{
	padding: 0 !important;
}
.ui-tooltip{
	background:#fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	text-align: center;
	color: $grey;
	font: 20px/47px FuturaPTDemi;
	border-radius: 4px;
	width: 60px;
	padding: 0;
	height: 47px;
	border: none;	
}

.ui-corner-all{
	.ui-icon{
		background: none;
	}
}
.ui-slider-horizontal{
	height: 2px;
	border: none;
	border-radius: 1px;
	margin-top: 16px;
	background: $light_light;
}

.ui-slider-horizontal .ui-slider-range{ background: $blue; border-radius: 1px; height: 2px;}

.ui-slider .ui-slider-handle{ 
	width: 23px; 
	height: 22px; 
	margin-top: -1px;
	background: url(/assets/common/slider.png) 0 0 no-repeat; 
	border: none; 
}
.ui-slider-horizontal .ui-slider-handle{ margin-left: -10px; top: -8px; }
.ui-slider-horizontal .ui-slider-handle:hover{ cursor: pointer; }


.input.location{  }

.ui-selectmenu-menu{
	li{
		width: 100%;
		color: $grey; 
		font: 16px/30px FuturaPTBook; 
		transition: all 0.3s ease; 
		padding: 0 15px;
		margin: 5px 0;
		border: none;
		background: white;
	}
	li:hover{ 
		background: #d7dce0;
		border: none;
	} 

}
span:focus{ outline: none; }
.ui-selectmenu-button{
	outline: none;
	background: #fff;
	border: 1px solid #d7dce0;
	border-radius: 4px;
	height: 42px;
	margin-bottom: 20px;
	cursor: pointer;
	z-index: 9;
	color: $grey; padding: 0 35px 0 15px; font: 16px/42px FuturaPTBook;
}
.ui-menu-item{
	padding-left: 16px !important;
}


#sort_by .ui-selectmenu-button {
	background: url(/assets/common/forms/dropdown.png) 198px no-repeat;
}


.ui-selectmenu-button span.ui-selectmenu-text{
	padding: 0;
	display: inline;
}
.ui-menu{
	border-radius: 4px;
	border: 1px solid #d7dce0;
	background: white;
}








// _______________fancybox

.fancybox-close{
	background: url('/assets/common/close.png') no-repeat;
}
.fancybox-overlay{
	background: rgba(8, 18, 29, 0.9);
}
.fancybox-close{
	position: fixed;
	right: 12px;
	top: 22px;
}
.fancybox-opened .fancybox-skin{
	background: white;
}






//_______________light_slider
.lSAction{
	a{ background: none; }
	svg{
		width: 20px;
		path{ fill: white; }
	}
	.lSPrev, .lSNext{ @extend .animation; opacity: 1; }
}


//____________text_editor
.wysihtml5-sandbox{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	box-sizing: border-box !important; -moz-box-sizing: border-box !important;
	font-size: 14px !important;
}
div[data-wysihtml5-dialog="createLink"]{ padding-top: 10px; }


//___________search_page pickmeup datepicker
.input_calendar.pickmeup{
	font-family: 'FuturaPTDemi';
	background: rgba(0,0,0,0);
	font-size: 12px;
	.pmu-instance{
		position: relative;
		left: 70px;
		top: 10px;
		background-color: rgba(26, 43, 63, 0.93);
		z-index: 100;
		height: auto;
		border-radius: 4px;
		padding: 0;
		width: 21em;
		nav:first-of-type{
			width: 140px;
			margin: 20px auto;
			.pmu-prev img, .pmu-next img{
				@extend .animation;
				width: 7px;
				position: relative;
				top: 3px;
			}
		}
	}
	.triangle{
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid rgba(26, 43, 63, 0.93);
		position: absolute;
		top: -5px;
		left: 50%;
	}
	.pmu-month{
		font-size: 14px;
		color: white;
		&:hover{ color: white; }
	}
	.pmu-day-of-week{
		color: white;
		div { width: 3em; }
	}
	.pmu-days{
		line-height: initial;
		.pmu-button{
			@extend .animation;
			border-right: 1px solid #3c4a5c;
			border-top: 1px solid #3c4a5c;
			width: 3em;
			line-height: 3em;
			color: white;
		}
		.pmu-selected{ 
			background: $blue; 
			border-right-color: $blue;
			border-top-color: $blue;
		}
		.pmu-not-in-month{ color: #526173; }
	}
	#choose_clear{
		border-top: 1px solid #3c4a5c;
		text-transform: uppercase;
		color: white;
		font-size: 13px;
		padding: 10px 0;
		span{ @extend .animation; }
	}

}


//_______________________jquery_ui_datepicker
.datepicker{
	padding-top: 15px;
	.ui-datepicker{
		padding: 0; width: 220px; background: none; border: none; 
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0,0,0,.03);
	}
	#ui-datepicker-div{ padding: 7px 0 0; background: white; box-shadow: 0 1px 5px rgba(0,0,0,.2); z-index: 9 !important; }
	.ui-datepicker-calendar{ 
		border-spacing: 0px; margin-bottom: 0 !important; border-bottom: 1px solid #ebedef;
		td{ padding: 0; border-top: 1px solid #ebedef; border-left: 1px solid #ebedef; background: #f7f9fa; width: 30px; height: 30px; font: 12px FuturaPTDemi; }
		td a.ui-state-default{ text-align: center; padding: 0; color: $grey; background: none; border:none; font-weight: 400; }
		td:nth-child(7n+1){ border-left: none; }
		td:nth-child(7n){ border-right: none; }
		td:hover{ background: #2cb5bd; }
		td:hover a{ color: white; }
		th{
			padding: 0;
			height: 20px;
			color: $grey;
			font: 11px FuturaPTDemi;
		}
	}
	.ui-datepicker-header{ padding: 0 0 7px; height: 24px; background: none; border: none; }
	.ui-datepicker-title{ color: $grey; font: 14px/24px FuturaPTDemi; }
	.ui-datepicker-prev, .ui-datepicker-next{
		width: 9px;
		height: 20px;
		top: 4px;
		cursor: pointer;
		background: url(/assets/calendar_arrows.png) 0 0 no-repeat;
	}
	.ui-datepicker-prev:hover, .ui-datepicker-next:hover{ border: none; }
	.ui-datepicker-prev{ background-position: 0 0; left: 30px; }
	.ui-datepicker-next{ background-position: -9px 0; right: 30px; }
	.selected{ 
		background: $blue !important;
		a{ color: white !important;}
		border-left-color: $blue !important;
		border-top-color: $blue !important;
		z-index: 100;
	}
	.block_title{ padding: 0 15px; }
	.ui-datepicker-other-month{
		color: $light;
		span{ text-align: center; }
	}
}
.calendar{
	border-radius: 4px;
	.info{ text-align: center; padding:10px 0; color: $grey; font: 12px/18px FuturaPTBook; }
	.info > div{ display: inline-block; margin: 0 12px; }
	.info img{ vertical-align: middle; margin-right: 7px; }
}
.datepicker.readonly{
	td:hover span, td:hover a{ color: $grey; }
	td:hover{ background: #f7f9fa; }
}




