@import 'application';


#profile, #settings{
	.tabs{
		padding-bottom: 45px;
		border-bottom:  2px solid #eff1f3;
		.nav{
			border-bottom: 2px solid #eff1f3;
			text-transform: uppercase;
			font-family: FuturaPTDemi;
			font-size: 14px;
			padding-bottom: 8px;
			li{
				display: inline-block;
				list-style: none;
			}
			a{
				padding-bottom: 13px;
				padding-right: 0;
				margin-right: 29px;
				&:focus{ outline: none; }
			}
			a.active{
				color: $blue;
				border-bottom: 2px solid $blue;
				margin-bottom: -2px;
			}
		}
	}
}




#profile{
	#profile_info{
		height: 420px; 
		margin-top: -145px; 
		background: url(/assets/profile/entertainers/rolling_stones/bg.jpg) 50% 0 no-repeat; background-size: cover;
		position: relative;
		font: 14px/20px FuturaPTDemi;
		margin-bottom: 70px;
		.black_gradient{ height: 100%; }
		.info{ position: absolute; bottom: 20px; }
		.name{
			padding-left: 20px;
			h2{
				color: white;
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 11px;
			}
			a, span{ color: #5acdd0; }
		}

		.logo img{
			border-radius: 50%;
			border: 3px rgba(255, 255, 255, 0.45) solid;
			width: 80px;
			height: 80px;
		}
		.name, .logo{
			display: inline-block;
			vertical-align: middle;
		}
	}

	aside{
		float: right;
		section{
			line-height: 0;
			margin-bottom: 40px; 
			.text_line{ margin-bottom: 31px; }
		}

		#send_add{
			i{ padding-right: 5px; }
			a{ margin-bottom: 10px; }
			.add{
				background: $light_light;
				color: #26afb7;
			}
		}

		#photos{
			img{
				width: 85px;
				height: 85px;
			}
			.gradient_in{
				background: $green_blue;
				width: 100%;
				height: 100%;
				border-bottom-right-radius: 5px;
				div{
					color: white;
					text-align: center;
					font-family: FuturaPTDemi;
					line-height: 13px;
					font-size: 18px;
					padding-top: 29px;
				}
				.ellipsis{
					font-size: 25px;
					font-weight: 700;
					letter-spacing: 2px;
				}
			}
			.gradient_out{
				background: url(/assets/profile/entertainers/rolling_stones/photo_thumbs/1.jpg);
				display: inline-block;
				width: 85px;
				height: 85px;
				vertical-align: top;
				border-bottom-right-radius: 5px;
			}
			.gallery{
				font-size: 0;
				line-height: 0;
				img:nth-child(1){ border-top-left-radius: 5px;}
				img:nth-child(3){ border-top-right-radius: 5px;}
				img:nth-child(4){ border-bottom-left-radius: 5px;}
				&:hover{ opacity: 0.7; }
			}
		}

		#availability{
			.calendar{
				border: 2px #efefef solid;
				.ui-datepicker{ width: 100%; }
			}
		}

		#videos{
			.thumb{
				background: url(/assets/profile/entertainers/rolling_stones/video_thumbs/1.jpg);
				width: 100px;
				height: 70px;
				position: relative;
				float: left;
				@extend .animation;
				.play{
					position: absolute;
					top: 23px;
					left: 37px;
				}
			}
			.description{
				float: right;
				padding-top: 6px;
				width: 150px;
				font: 14px FuturaPTDemi;
			}			
			.title{
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				color: #4f5762;
			}
			.time{ color: #5acdd0; }
			.views{ color: #c4c5c9; font: 13px FuturaPTBook;}
			.description div{ padding-bottom: 1px; }
			.video{ margin-bottom: 20px; display: block; }
		}
	}

	#main_container{
		float: left;
		.tabs{
			.middle_heading{
				margin-top: 20px;
				margin-bottom: 10px;
			}
			.small_heading{ margin-top: 20px; }
			ul:not(.nav){ padding-left: 40px; }
			ul.col2 li{
				width: 50%;
				float: left;
				padding-bottom: 10px;
			}

			#technical ul, #prices ul{ margin-top: 15px; }

			#contact{
				margin-top: 25px;
				#map{
					width: 315px;
					height: 315px;
					float: left;
					margin-right: 20px;
					img{
						border-radius: 5px;

					}
				}
				ul{ 
					padding-left: 20px; 
					margin-top: 15px;
					margin-bottom: 10px;
					float: left; 
					font-family: FuturaPTDemi;
					span{ display: inline-block; }
					li{
						list-style: none;
						margin-bottom: 7px
					}
					.icon{ width: 20px; }
					.icon img{ width: 13px; height: 14px; }
				}
				.social{
					float: left;
					img{
						width: 27px;
						height: 27px;
						margin-right: 4px;
					}

				}

			}
		}
		.reviews{
			padding: 20px 0 0;
			h2{
				font: 23px; margin-bottom: 30px;
				img{ 
					width: 22px; 
					height: 21px; 
					padding-right: 10px;
					position: relative;
					top: 3px;
				}
				.flat_button{
					width: 140px;
					height: 34px;
					font-size: 13px;
					float: right;					
					i{ padding-right: 6px; }
					span{ position: relative; bottom: 5px; }

				}
			}
			.review{
				font-family: FuturaPTDemi;
				border-bottom: 1px #ededed solid;
				padding-bottom: 20px;
				margin-bottom: 20px;
				.name{ color: $grey; font-size: 18px; }
				.rating{ 
					float: right;
					img{ vertical-align: middle; margin-left: 10px; }
					sub{ font-size: 10px; position: relative; top: -7px; left: 1px; }
					span, .stars{ display: inline-block; margin-left: 10px; }
					.stars img{
						width: 14px;
						margin-left: 0;
						display: inline-block;
					}
				}
				.date{ color: $light; font-size: 10px; text-transform: uppercase; }
				.text{ color: $grey; font: 15px/22px FuturaPTBook; padding-bottom: 10px; }
				.vote a{ margin: 0 5px; }
			}
		}
	}
}



#settings{
	#free_trial_warning{
		width: 100%;
		background: $light_light;
		color: $light;
		font-family: FuturaPTDemi;
		position: absolute;
		top: 63px;
		padding: 14px 0;
		font-size: 14px;
		i.fa-exclamation-triangle{
			font-size: 20px;
			color: $blue;
			vertical-align: middle;
			padding-right: 10px;
		}
		.close img{ 
			width: 8px;
			padding: 0 10px;
		}
	}
	.tabs{
		border-bottom: none;
		.nav{
			margin-bottom: 30px;
		}
		form{
			margin-bottom: 40px;
			label{
				float: left;
				text-align: right;
				width: 130px;
				font-family: FuturaPTDemi;
				text-transform: uppercase;
				padding-top: 7px;
				font-size: 13px;
				i{
					color: $blue;
					font-size: 7px;
					vertical-align: text-top;
					padding-left: 5px;
				}
			}
			.right{
				width: 480px;
				.comment{
					display: inline-block;
					color: $light;
					font-size: 14px;
				}
				.input, select{
					width: 100%;
					box-sizing: border-box;
					margin-bottom: 3px;
				}
				.ui-selectmenu-button{ 
					margin-bottom: 3px; 
					background: url(/assets/common/forms/open.png) 450px no-repeat;
				}
			}
			.line.website{
				font-size: 0;
				#http{
					width: 20%;
					font-size: 15px;
					color: $light;
					display: inline-block;
					text-align: center;
					font-family: FuturaPTDemi;
					padding: 6px 0;
					background: #f5f6f7;
					border: 1px solid #d7dce0;
					box-sizing: border-box;
					border-radius: 5px 0 0 5px;
					border-right: none;
				}
				input{
					display: inline-block;
					width: 80%;
					border-radius: 0 5px 5px 0;
				}
			}
			//dependable selects
			.closable{
				position: relative;
				.right{ position: relative; }
				.ui-selectmenu-button{ background: none !important; }
				.close{
					background: url(/assets/common/forms/close.png) no-repeat 19px 17px;
					@extend .animation;
					width: 48px;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 100;
				}
			}
			.potential{
				.ui-selectmenu-button{
					border: dashed 2px $light_light;
					color: $light;
				}
			}
			//___dependable selects
			#network{
				.right{ font-size: 0; padding-left: 2px; }
				span{
					@extend .animation;
					background: url(/assets/common/social_icons/dashed_border.png) 0 0 no-repeat;
					width: 37px;
					height: 37px;
					display: inline-block;
					margin-right: 5px;
				}
				svg{
					width: 17px;
					margin-left: 9px;
					margin-top: 9px;
					path{
						fill: $light;
					}
				}
			}
			#network_names{
				label{
					svg{
						width: 17px;
						margin-left: 9px;
						vertical-align: text-bottom;
						path{
							fill: $grey;
						}
					}
				}
			}
			.line.price{
				font-size: 0;
				#currency{
					width: 15%;
					display: inline-block;
					vertical-align: top;
					.ui-selectmenu-button{
						width: 100%;
						font-size: 15px;
						color: $light;
						text-align: center;
						font-family: FuturaPTDemi;
						background: #f5f6f7;
						box-sizing: border-box;
						border-radius: 5px 0 0 5px;
						border-right: none;
						padding: 0;
						i{
							font-size: 8px;
							padding-left: 10px;
							position: relative;
							bottom: 2px;
						}
					}
				}
				input{
					display: inline-block;
					width: 85%;
					border-radius: 0 5px 5px 0;
				}
			}
			.flat_button{ width: 222px; }
			.checkbox_label{
				color: #394c60;
				display: inline-block;
				cursor: pointer;
				font: 14px/14px FuturaPTHeavy;
				padding-left: 30px;
				margin-top: 15px;
				background: url(/assets/checkbox_icon.png) 0 0 no-repeat;
			}
			input[type=checkbox]:checked + .checkbox_label{
				background: url(/assets/checkbox_icon_h.png) 0 0 no-repeat;
			}
			.checkbox_label{
				font-family: 'FuturaPTBook';
				font-size: 17px;
				width: 100%;
				text-align: left;
				text-transform: none;
				padding-top: 0;
			}

		}
		#account_tab{
			.flat_button, .small_fat_blue{
				display: inline-block;
			}
			.small_fat_blue{
				margin-left: 30px;
			}
		}
		#billing_tab{
			.info{
				font: 'FuturaPTBook';
				color: $light;
			}
			.flat_button{
				font-size: 12px;
				width: 200px;
			}
			.current_plan .flat_button{
				background: $light_light;
				color: #26afb7;
			}
		}
		#media_tab{
			.upload{
				border: dashed #ebedef 2px;
				padding: 20px 10px 10px;
				i{ 
					color: #ebedef;
					font-size: 25px;
				}
			}
			.uploaded{
				img{
					width: 100%;
					height: 100%;
					border-radius: 5px;
				}
			}
			.uploading{
				border: solid #ebedef 2px;
				padding-top: 36px;
				img{
					margin-bottom: 10px;
				}
			}

			.cover .upload{
				width: 320px;
			}
			.photos{
				.upload, .uploaded, .uploading{
					width: 150px;
					height: 150px;
					margin-right: 11px;
					margin-bottom: 10px;
					display: inline-block;
					box-sizing: border-box;
					vertical-align: top;	
					text-align: center;			
					&:nth-child(3n){
						margin-right: 0;
					}
				}
			}
			.audios{
				.pause, .play{
					width: 30px;
					height: 30px;
					top: -5px;
					.fa-pause, .fa-play{
						left: 12px;
						top: 10px;
						font-size: 9px;
						cursor: pointer;
					}
					.fa-pause{ left: 11px; }
				}
				.title{
					font-size: 15px;
					max-width: 330px;
					padding-left: 10px;
				}
				.song{
					padding: 13px 20px 5px 20px;
					margin-bottom: 0;
					border-radius: 5px;
				}
				.playing{
					background: $light_light;
				}

				.upload{
					padding: 10px 10px 0px 20px;
					text-align: left;
					i, div{ display: inline-block; }
					i, .grey_fat{ margin-right: 15px; }
					.small_fat_blue{ width: 120px; }
					i{
						position: relative;
						top: 3px;
					}
				}
			}
			.videos{
				.video{
					width: 235px;
					display: inline-block;
					font-size: 14px;
					margin-bottom: 20px;
					vertical-align: top;
					&:nth-child(2n-1){ margin-right: 5px; }
					.thumb{
						width: 235px;
						height: 170px;
						background-image: url(/assets/profile/entertainers/rolling_stones/video_thumbs/1_larger.jpg);
						background-size: 100% auto;
						border-radius: 5px;
						.play{ 
							position: absolute;
							left: 50%;
							top: 50%;
						}
						.darken{ 
							position: relative;
							border-radius: 5px;
						}
					}
					.title{
						font-family: 'FuturaPTDemi';
						line-height: 5px;
						margin-top: 10px;
					}
					.stats{
						.time{
							font-family: 'FuturaPTDemi';
							color: $blue;
						}
						.views{
							font-family: 'FuturaPTBook';
							color: $light;
							padding-left: 5px;
						}
					}
				}
				.upload{
					height: 170px;
					box-sizing: border-box;
				}
			}

		}
		
	}

	aside{
		section{
			margin-bottom: 30px;
		}
		.flat_button.activate{
			margin-bottom: 10px;
		}
		.flat_button.view{
			background: $light_light;
			color: $blue;
			margin-bottom: 40px;
		}
		#avatar{
			.text_line{ margin-bottom: 20px; }
			.img{
				width: 80px;
				img{
					border-radius: 50%;
					width: 80px;
				}
			}
			.upload{
				padding-top: 10px;
				text-align: left;
				margin-right: 10px;
				.grey_thin{ padding-bottom: 0; }
			}
		}
		#availability{
			.text_line{
				margin-bottom: 20px;
			}
			.calendar{
				border: 2px $light_light solid;
				border-radius: 5px;
				margin-bottom: 0px;
				.ui-datepicker{
					margin: 0 auto;
				}
				.info{
					font-family: 'FuturaPTDemi';
				}
			}
			#mark_days{
				color: $light;
				font-size: 14px;
			}
			
		}
	}

	.upload, .uploading, .uploaded{
		border-radius: 5px;
		text-align: center;
		color: $light;
		font-size: 14px;
		.grey_fat{
			font-family: 'FuturaPTDemi';
			line-height: 10px;
		}
		.grey_thin{
			padding-bottom: 10px;
		}
	}
}






.modal.gallery{
	width: 1200px;
	.lightSlider{
		img{
			max-width: 700px;
			max-height: 900px;
			display: block;
			margin: 0 auto;
		}
	}
}
.fancybox-skin.transparent{
	background: rgba(255, 255, 255, 0);
	box-shadow: none;
	.lSPrev{
		background: url("/assets/common/slider_arrow_left_white.png") no-repeat;
	}
	.lSNext{ 
		background: url("/assets/common/slider_arrow_right_white.png") no-repeat;
	}
	.lSPrev, .lSNext{ padding: 200px  0px; }

	.lSPager{
		// max-width: 940px !important;
		margin: 0 auto;
		.active img{
			border: $grey 2px solid;
			box-sizing: border-box;
		}
		li{
			@extend .animation;
			width: 100px !important;
			border-radius: 3px;
			opacity: 1;
		}
		
	}
}



#hint{
	position: relative;
	bottom: 80px;
	width: 50px; height: 50px;
	background: black; color: red;
}


#a{
	position: absolute;
	display: none;
}

.container:hover #a { display:block; }

.container {
	position: relative;
}
.modal .stars{
	img{
		z-index: 10;
	}
}



