@import 'application';



#profile_info{ 
	height: 420px; 
	margin-top: -145px; 
	background: url(/assets/profile/entertainers/rolling_stones/bg.jpg) 50% 0 no-repeat; background-size: cover;
	position: relative;
	font: 14px/20px FuturaPTDemi;
	margin-bottom: 70px;
}
#profile_info .black_gradient{ height: 100%; }
#profile_info .info{ position: absolute; bottom: 20px; }
#profile_info .name h2{
	color: white;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 11px;
}
#profile_info .name a, #profile_info .name span{
	color: #5acdd0;
}
#profile_info .logo img{
	border-radius: 50%;
	border: 3px rgba(255, 255, 255, 0.45) solid;
	width: 80px;
	height: 80px;
}
#profile_info .name, #profile_info .logo{
	display: inline-block;
	vertical-align: middle;
}
#profile_info .name{ padding-left: 20px;}

#profile .right section{ margin-bottom: 40px; }
#profile .right section .text_line{ margin-bottom: 31px; }

#profile #send_add i { padding-right: 5px; }
#profile #send_add a{ margin-bottom: 10px; }
#profile #send_add .add{
	background: #f5f6f8;
	color: #26afb7;
}


#profile #photos img{
	width: 85px;
	height: 85px;
}
#profile #photos .gradient_out{
	background: url(/assets/profile/entertainers/rolling_stones/photo_thumbs/1.jpg);
	display: inline-block;
	width: 85px;
	height: 85px;
	vertical-align: top;
}
#profile #photos .gradient_in div{
	color: white;
	text-align: center;
	font-family: FuturaPTDemi;
	line-height: 17px;
	font-size: 15px;
	padding-top: 29px;
}
#profile #photos .gallery img:nth-child(1){ border-top-left-radius: 5px;}
#profile #photos .gallery img:nth-child(3){ border-top-right-radius: 5px;}
#profile #photos .gallery img:nth-child(4){ border-bottom-left-radius: 5px;}
#profile #photos .gallery .gradient_in{ border-bottom-right-radius: 5px;}
#profile #photos .gallery:hover{
	opacity: 0.7;
}

#profile .calendar .ui-datepicker{
	width: 100%;
}
#profile .calendar{
	border: 2px #efefef solid;
}

#profile #audios span{
	display: inline-block;
}
#profile #audios .song .gradient_in{
	position: relative;
	top: -2px;
}

#profile #audios .song{
	font-size: 14px;
	font: 14px FuturaPTDemi;
}
#profile #audios .name{
	color: #4f5762;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 188px;
}
#profile #audios .time{
	color: #5acdd0;
	float: right;
}
#profile #audios span{
	vertical-align: top;
}
#profile #audios .song{
	margin-bottom: 20px;
}



#profile #videos .thumb{
	background: url(/assets/profile/entertainers/rolling_stones/video_thumbs/1.jpg);
	width: 100px;
	height: 70px;
	position: relative;
	transition: all 0.3s ease;
	float: left;
}
#profile #videos .thumb:hover{
	opacity: 0.7;
	cursor: pointer;
}
#profile #videos .thumb .play{
	position: absolute;
	top: 23px;
	left: 37px;
}
#profile #videos .description{
	float: right;
	padding-top: 6px;
	width: 150px;
	font-size: 14px;
	font: 14px FuturaPTDemi;
}
#profile #videos .name{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #4f5762;
}
#profile #videos .time{ color: #5acdd0; }
#profile #videos .views{ color: #c4c5c9; font: 13px FuturaPTBook;}
#profile #videos .description div{ padding-bottom: 1px; }
#profile #videos .video{ margin-bottom: 20px; }


#profile #tabs{ font-size: 16px; }
#profile #tabs .middle_heading{
	margin-top: 20px;
	margin-bottom: 20px;
}
#profile #tabs ul:not(.nav){ padding-left: 40px; }

#profile #tabs ul.col2 li{
	width: 50%;
	float: left;
	padding-bottom: 10px;
}
#profile #tabs .nav{
	border-bottom: 2px solid #eff1f3;
	text-transform: uppercase;
	font-family: FuturaPTDemi;
	font-size: 14px;
}
#profile #tabs .nav a{
	padding-bottom: 13px;
	padding-right: 0;
	margin-right: 29px;
	
}
#profile #tabs .ui-state-active a{
	color: $blue;
	border-bottom: 2px solid $blue;
	margin-bottom: -2px;
}

#profile #tabs #technical ul, #profile #tabs #prices ul{
	margin-top: 15px;
}
#profile #tabs .small_heading{
	margin-top: 20px;
}

#profile #map{
	width: 315px;
	height: 315px;
	float: left;
	margin-right: 20px;
}

#profile #tabs #contact ul{ padding-left: 20px; float: left; margin-top: 30px}
#profile #tabs #contact ul span{ display: inline-block; }
#profile #tabs #contact ul li{
	list-style: none;
	margin-bottom: 15px
}
#profile #tabs #contact ul .icon{ width: 20px; }
#profile #tabs #contact ul .icon img{
	width: 13px;
	height: 14px;
}
#profile #tabs .social a img{
	width: 25px;
	height: 25px;
}
#profile #tabs .social{
	display: block;
	float: left;
}

#profile #tabs>div{
	padding-bottom: 20px;
	border-bottom:  2px solid #eff1f3;
}





.profile_reviews{
	padding: 20px 0 0;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.03);
}
.profile_reviews .middle_heading{ font: 23px; margin-bottom: 30px; }
.profile_reviews .middle_heading img{ 
	width: 22px; 
	height: 21px; 
	padding-right: 10px;
	position: relative;
	top: 3px;
}
.profile_reviews .middle_heading .flat_button i{
	padding-right: 6px;
}
.profile_reviews .middle_heading .flat_button{
	width: 140px;
	height: 34px;
	float: right;
}
.profile_reviews .middle_heading .flat_button span{ 
	position: relative;
	bottom: 5px;

}
.add_new_review{ padding: 0 30px 30px; display: none; }
.add_new_review .form{ position: relative; }
.add_new_review  .form .name{ margin-bottom: 10px; }
.add_new_review .form textarea{ padding-right: 80px; }
.add_new_review .form .submit_btn{ position: absolute; right: 7px; bottom: 7px; width: 65px; transition: all 0.3s ease; height:37px; padding-top: 2px; }
.add_new_review .form .submit_btn:hover{ opacity: 0.7; }
.add_new_review .form div.star{ margin-top: 6px; }

div.rating-cancel,div.star-rating{float:left;width:19px;height:19px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
div.rating-cancel,div.rating-cancel a{ display: none; }
div.star-rating,div.star-rating a{background:url(/assets/stars.png) no-repeat 0 0; }
div.rating-cancel a,div.star-rating a{ display:block; width:19px; height:100%; background-position:0 0; border:0}
div.star-rating-on a{background-position:0 -19px!important}
div.star-rating-hover a{background-position:0 -19px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}

.profile_reviews .review{ padding: 30px; border-top: 2px solid #f9fafb; }
.profile_reviews .review .name{ color: $grey; font: 18px/26px FuturaPTDemi; }
.profile_reviews .review .rating{ line-height: 26px; }
.profile_reviews .review .rating img{ vertical-align: middle; margin-left: 10px; }
.profile_reviews .review .rating sub{ vertical-align: top; font-size: 10px; position: relative; top: -3px; }
.profile_reviews .review .date{ color: #dadee2; font: 10px/20px FuturaPTDemi; text-transform: uppercase; }
.profile_reviews .review_text{ color: $grey; font: 14px/22px FuturaPTBook; padding-bottom: 10px; }
.profile_reviews .review .vote .value{ color: $blue; font: 12px/20px FuturaPTDemi; }
.profile_reviews .review .vote .sep{ color: #eaecef; font: 12px/20px FuturaPTDemi; }
.profile_reviews .review .vote a{ margin: 0 5px; transition: all 0.3s ease; }
.profile_reviews .review .vote a:hover{ opacity: .7; }
.profile_reviews .more_review{
	border-top: 2px solid #f9fafb;
	height: 49px;
	text-align: center;
	line-height: 49px;
	display: block;
}
.profile_reviews .more_review img{ vertical-align: middle; }









