@import 'application';

#terms{
	.back{
		margin-top: 10px;
		padding-bottom: 140px;
	}
}

#about{
	margin-top: 380px;
	#map{
		width: 100%;
		height: 400px;
		position: absolute;
		top: 0;
	}
	.small_fat_blue{
		margin-top: -10px;
	}
	form{
		margin-bottom: 140px;
		button{
			width: 230px;
			height: 50px;
			margin-top: 20px;
		}
	}
}


#preregister{
	.money_goes{
		background: $light_light;
		padding: 100px 0;
		.desc, .stats{ width: 50%; float: left; box-sizing: border-box; -moz-box-sizing: border-box; }
		.desc{ padding-right: 20px; }
		.stats{
			padding-left: 57px;
			ul{ padding-top: 15px; margin-right: 10px; }
			li{ list-style-type: none; margin-bottom: 10px; }
			img{
				width: 220px;
			}
			.circle{
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: red;
				display: inline-block;
				margin-right: 10px;
			}
			.c1{ background: #22b7bd; }
			.c2{ background: #5cd6c1; }
			.c3{ background: #82e9a0; }
			.c4{ background: #01cb9b; }
			.c5{ background: #3a4c60; }
		}
	}
	
	h1{ font: 30px FuturaPTDemi; margin-bottom: 20px; }
	.big { font: 18px/26px FuturaPTBook; }

	.reviews{
		margin: 80px 0 120px 0;
		text-align: center;
		.slider{
		    margin-bottom: 20px;
			height: 200px;
			.review{				
				max-width: 600px;
				margin: 20px auto;
			}
			.name{
			    padding-top: 10px;
				font: 16px/10px FuturaPTDemi;
			}
			.profession{
				font-size: 14px;
			}

		}
		.lSGallery{
			width: 198px !important;
			margin: 0 auto;
			li{ width: auto !important; margin: 0 6px !important; opacity: 1; }
			li.active a{ border: $blue 2px solid; }
			a{
				border: #eaeaea 2px solid;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: block;
				img{
					width: 44px;
					height: 44px;
					border-radius: 50%;
					margin: 0 auto;
					position: relative;
					top: 3px;
				}
			}
		}
		.lSAction path{ fill: $blue; }
	}
}




//_________________________responsive design
#preregister{
	@media (max-width: 980px){	
		.categories {
			.item{
				width: 45%;
				margin-right: 40px;
				&:nth-child(3n){ margin-right: 40px; }
				&:nth-child(2n){ margin-right: 0; }
			}
		}
		.money_goes{
			.desc{ 
				max-width: 400px;
				margin: 0 auto 60px auto;
				padding-right: 0;
				float: none;
				width: 100%;
			}
			.stats{ 
				padding: 0;
				max-width: 420px;
				margin: 0 auto;
				float: none;
				width: 100%;
			}
		}
	}

	@media (max-width: 600px){	
		.categories {
			.item{ 
				width: 100%; 
				&:nth-child(1n){ margin-right: 0; }
			}
		}
	}

	@media (max-width: 750px){
		.reviews{
			padding: 0 20px;
			.lSAction{ display: none !important; }
		}
	}

	@media (max-width: 430px){
		.money_goes .stats{
			text-align: center;
			img{ display: block; margin: 0 auto; }
			ul{ display: inline-block; text-align: left; float: none; padding-top: 30px; }
		}
	}

}


#about{
	@media (max-width: 665px){
		.input{ width: 100%; float: none; }
	}
}


