<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag params[:controller] %>
</head>
<body>

<div class="light_bg">
<div id="welcome" class="email">
	<div class="white_bg">
		<div class="logo light_bg">
			<img src="/assets/emails/gradient_logo.png">
		</div>
		<div class="welcome gradient_bg">
			<h1>Welcome to Entertaina!</h1>
			<div>Nice to have you on board, nickname!</div>
		</div>

		<p class="big_text pad">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.
		</p>

		<p class="small_text pad">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.
		</p>

		<div class="gradient_bg button">
			<div>START MANAGE YOUR PROFILE</div>
		</div>
	</div>

	<div class="footer">
		<div class="logo">
			<img src="/assets/emails/gradient_logo.png">
		</div>
		<div class="find">
			Find Your Act from over 17,345 entertainers. Your search ends here!
		</div>
		<div class="social">
			<img src="/assets/emails/twitter.png">
			<img src="/assets/emails/fb.png">
			<img src="/assets/emails/vimeo.png">
		</div>

		<div class="unsubscribe">
			<a href="">Unsubscribe</a>
			<div>Entertaina Inc, 49 Chigwell Rd, London, Great Britain, info@entertaina.com</div>
		</div>
	</div>

	
</div>
</div>

</body>






