<ul class="menu">
	<li><a href="/">home</a></li>
	<li><a href="/about" data-no-turbolink>about</a></li>
	<li><a href="/search">find act</a></li>
	<li><a href="/blog_posts">blog</a></li>
	<li><a href="/terms">terms and conditions</a></li>		
</ul>