<a class="sign_up_link right fancy" href="#register_form">Sign up</a>
<ul class="menu right">
	<li><a href="/">home</a></li>
	<li><a href="/about" data-no-turbolink>about</a></li>
	<li><a href="/search">find acts</a></li>
	<li><a href="/blog_posts">blog</a></li>
	<li><a href="#login_form" class="fancy">Login</a></li>
</ul>