<footer>
	<div class="w940px">
		<div class="copy-logo"><img src="/assets/common/logo.png" alt=""></div>
		<div class="copy left"><p>© 2014 Entertaina LTD</p></div>

		<div class="right for_responsiveness">
			<%= render '/layouts/_footer_menu' %>
		
			<div class="social">
				<a href="/"><img class="svg" src="/assets/common/social_icons/twitter.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/facebook.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/vine.svg"></a>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</footer>