<footer>
	<div class="w940px">
		<div class="copy-logo"><img class="svg" src="/assets/common/logo.svg" alt=""></div>
		<div class="copy left"><p>©All rights reserved</p></div>
	
			<div class="social right">
				<a href="/"><img class="svg" src="/assets/common/social_icons/twitter.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/facebook.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/vine.svg"></a>
			</div>
		
		<%= render '/layouts/_footer_menu' %>
		<div class="clear"></div>
	</div>
</footer>