<footer>
	<div class="w940px">
		<div class="copy left"><img class="logo" src="/assets/common/logo.png"> © All rights reserved</div>
	
		<div class="social right">
			<a href="/"><img class="logo" src="/assets/common/footer/twitter.png"></a>
			<a href="/"><img class="logo" src="/assets/common/footer/fb.png"></a>
			<a href="/"><img class="logo" src="/assets/common/footer/vine.png"></a>
		</div>
		
		<%= render '/layouts/_footer_menu' %>
		<div class="clear"></div>
	</div>
</footer>