<header>
	<div class="w940px">
		<div class="logo left"><a href="/"><img src="/assets/common/logo.png"></a></div>
		<a class="sign_up_link right fancy" href="#register_form">Sign up</a>

		<%= render '/layouts/_header_menu' %>
		
		<div class="clear"></div>
	</div>
</header>