<header>
	<div class="w940px">
		<div class="logo left"><a href="/"><img class="svg" src="/assets/common/logo.svg"></a></div>

		<%= render '/layouts/_header_menu' %>
		
		<div class="clear"></div>
	</div>
</header>