
<div class="modal" id="register_form">
	<div class="modal_title">New Account</div>
	
	<div class="benefits">
		<div class="item"><img src="/assets/common/modals/star.png"> <p>Benefit 1</p></div>		
		<div class="item"><img src="/assets/common/modals/star.png"> <p>Benefit 2</p></div>
		<div class="item"><img src="/assets/common/modals/star.png"> <p>Benefit 3</p></div>
	</div>
	
	<div class="text"><p>Morbi vitae tempor mauris, sed porttitor arcu. Aenean posuere dignissim dapibus. Mauris quis nunc eleifend, sodales massa sed, pellentesque diam</p></div>
	
	<form class="form">
		<div class="line">
			<div class="name">email</div>
			<input class="input required success" type="email" name="" value="info@entertaina.co.uk" placeholder="E-mail">
			<input class="input required error" type="email" name="" value="info@entertaina.co.uk" placeholder="Confirm email">
		</div>
		
		<div class="line">
			<div class="name">password</div>
			<input class="input required" type="password" name="" value="" placeholder="Password">
			<input class="input required" type="password" name="" value="" placeholder="Confirm password">
		</div>
		
		<div class="line">
			<div class="name">personal info</div>
			<input class="input left mini" type="text" name="" value="" placeholder="Name">
			<input class="input right mini" type="tel" name="" value="" placeholder="Phone number">
			<div class="clear"></div>
			
			<input class="input" type="text" name="" value="" placeholder="Adress">
			
			<input class="input left mini" type="text" name="" value="" placeholder="Town">
			<input class="input right mini" type="text" name="" value="" placeholder="Postcode">
			<div class="clear"></div>
		</div>
		
		<div class="line">
			<input type="checkbox" name="agree" id="check_agree">
			<label class="checkbox_label" for="check_agree">I agree to <a href="/terms">Terms and Conditions</a></label>
		</div>
		
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Create account">
		</div>
	</form>
</div>

<div class="modal" id="login_form">
	<div class="modal_title">Login</div>
	
	<form class="form">
		<div class="line">
			<input class="input required" type="email" name="" value="" placeholder="E-mail">
			<input class="input required" type="password" name="" value="" placeholder="Password">
		</div>
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Login">
		</div>
	</form>
	
	<div class="other_links">
		<p>Don’t have an account? <a href="#register_form" class="fancy">Sign Up</a></p>
		<p>Forgot password? <a href="#forgot_form" class="fancy">Renew</a></p>
	</div>
</div>

<div class="modal" id="forgot_form">
	<div class="modal_title">Renew Password</div>
	
	<form class="form">
		<div class="line">
			<input class="input required" type="email" name="" value="" placeholder="E-mail">
		</div>
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Send">
		</div>
	</form>
</div>

<div class="modal" id="biling_form">
	<div class="modal_title">Billing Info</div>
	
	<div class="biling_price">
		<p class="price">£ 4<sub>.99</sub></p>
		<p>for 6month subscription</p>
	</div>
	
	<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tempor mauris, sed porttitor arcu. Aenean posuere dignissim dapibus. Mauris quis nunc eleifend, sodales massa sed, pellentesque diam</p></div>
	
	<form class="form">
		<div class="line">
			<div class="name">Credit card <a class="right logo_link" href="/"><img src="/assets/common/modals/powered_logo.png"></a></div>
			<input class="input" type="email" name="" value="" placeholder="E-mail">
			<input class="input" type="text" name="" value="" placeholder="Card number">

			<input class="input left mini" type="text" name="" value="" placeholder="Expiration date">
			<input class="input right mini" type="tel" name="" value="" placeholder="CVC">
			<div class="clear"></div>
		</div>
		
		<div class="line">
			<div class="name">Paypal <a class="right logo_link" href="/"><img src="/assets/common/modals/paypal_logo.png"></a></div>
			<input class="input" type="email" name="" value="" placeholder="Paypal account email">
			<div class="clear"></div>
		</div>
		
		<div class="submit">
			<button class="submit_btn pay" type="submit">pay £ 4<sub>.99</sub></button>
		</div>
	</form>
</div>