<div class="modal" id="register_form">
	<div class="modal_title">Sign Up</div>
	<form class="form">
		<div class="line">
			<div class="name">Account</div>
			<input class="input required success" type="email" name="" value="info@entertaina.co.uk" placeholder="Email">
			<input class="input required error" type="email" name="" value="info@entertaina.co.uk" placeholder="Email">
			<input class="input required" type="email" name="" value="" placeholder="Email (success/error/required examples)">
			<input class="input" type="text" name="" value="" placeholder="Username">
		</div>
		
		<div class="line">
			<div class="name">Password</div>
			<input class="input required" type="password" name="" value="" placeholder="Password">
			<input class="input required" type="password" name="" value="" placeholder="Confirm password">
		</div>
		
		
		<div class="line">
			<input type="checkbox" name="agree" id="check_agree">
			<label class="checkbox_label" for="check_agree">I agree to <a href="/terms">Terms and Conditions</a></label>
		</div>
		
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Create account">
		</div>
	</form>
</div>

<div class="modal" id="login_form">
	<div class="modal_title">Login</div>
	
	<form class="form">
		<div class="line">
			<input class="input" type="email" name="" value="" placeholder="Username or email">
			<input class="input" type="password" name="" value="" placeholder="Password">
		</div>
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Login">
		</div>
	</form>
	
	<div class="other_links">
		<p>Don’t have an account? <a href="#register_form" class="fancy">Sign Up</a></p>
		<p>Forgot password? <a href="#forgot_form" class="fancy">Renew</a></p>
	</div>
</div>

<div class="modal" id="forgot_form">
	<div class="modal_title">Renew Password</div>
	
	<form class="form">
		<div class="line">
			<input class="input" type="email" name="" value="" placeholder="Email">
			<div class="comment">Enter your email and we'll get you back on track.</div>
		</div>
		<div class="submit">
			<input class="submit_btn" type="submit" name="submit" value="Request new password">
		</div>
	</form>

	<div class="other_links">
		<p>Don’t have an account? <a href="#register_form" class="fancy">Sign Up</a></p>
		<p>Forgot password? <a href="#forgot_form" class="fancy">Renew</a></p>
	</div>
</div>

<div class="modal" id="billing_form">
	<div class="modal_title">Billing Info</div>
	
	<form class="form">
		<div class="line">
			<div class="name">Credit card <a class="right logo_link" href="/"><img src="/assets/common/modals/powered_logo.png"></a></div>
			<input class="input" type="email" name="" value="" placeholder="Email">
			<input class="input" type="text" name="" value="" placeholder="Card number">

			<input class="input left mini" type="text" name="" value="" placeholder="Expiration date">
			<input id="cvc" class="input right mini" type="tel" name="" value="" placeholder="CVC">
			<div class="clear"></div>
		</div>

		<div class="line change">
			<div class="left">You'll be charged £99</div>
			<div class="right uppercase blue animation">Click to change</div>
			<div class="clear"></div>
		</div>
		
		<div class="submit">
			<button class="submit_btn" type="submit">Upgrade plan</button>
		</div>

		<div class="comment">
			<div class="secure"><img src="/assets/common/modals/lock.png">Secure credit card payment</div>
			<div>This is a secure 128-bit SSL encrypted payment</div>
		</div>
	</form>
</div>

<div class="modal" id="upgrade_form">
	<div class="modal_title">Upgrade</div>
	
	<div class="plan">
		<div class="price">£59</div>
		<div>for <b>6 month</b> subscription</div>
		<div class="choose animation">Choose plan</div>
	</div>

	<div class="plan">
		<div class="price">£99</div>
		<div>for <b>1 year</b> subscription</div>
		<div class="choose animation">Choose plan</div>
		<img src="/assets/common/modals/discount20.png">
	</div>
</div>


<div class="modal" id="menu_modal">


	<nav>
		<a href="/">home</a>
		<a href="/about" data-no-turbolink>about</a>
		<!-- no turbolink so google map works well -->
		<a href="/search">find acts</a>
		<a href="/blog_posts">blog</a>

		<div class="line"></div>

		<% if [true, false][rand(2)] %>

			<div id="logo">
				<a href="/profiles/1"><img src="/assets/profile/entertainers/rolling_stones/logo.png">profile</a>
				<a href="/settings">settings</a>
				<a href="">log out</a>
			</div>

		<% else %>
			<a href="#login_form" class="fancy">Login</a>
			<a class="fancy" href="#register_form">Sign up</a>
		<% end %>

	</nav>



</div>









