<div class="right text_editor">
	<div class="toolbar">
		<a data-role='bold' href='javascript:void(0)'>Bold</a>
		<a data-role='italic' href='javascript:void(0)'>Italic</a>
		<a data-role='underline' href='javascript:void(0)'>Underline</a>
		<a data-role='h1' href='javascript:void(0)'>H1</a>
		<a data-role='h2' href='javascript:void(0)'>H2</a>
		<a data-role='insertUnorderedList' href='javascript:void(0)'>Bul. List</a>
		<a data-role='insertOrderedList' href='javascript:void(0)'>Num. List</a>
		<a data-role='italic' href='javascript:void(0)'>Link</a>
	</div>
	<section contentEditable="true">
		Within the field of literary criticism, "text" also refers to the original information content of a particular piece of writing; that is, the "text" of a work is that primal symbolic arrangement of letters as originally composed, apart from later alterations, deterioration, commentary, translations, etc.
	</section>
	<div class="comment"><%= comment %></div>
</div>